@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Archivo+Black&family=Black+Han+Sans&family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,400&family=Coiny&family=Gasoek+One&family=Gowun+Batang&family=Grandiflora+One&family=Gugi&family=Hahmlet:wght@100&family=IBM+Plex+Sans+KR:wght@300&family=Lilita+One&family=Lobster&family=Nanum+Gothic:wght@700&family=Noto+Sans+KR:wght@400;500&family=Noto+Serif+KR:wght@200;300;400;900&family=Orbit&family=Paytone+One&family=Prompt:wght@500&family=Titan+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f9a42d;
}

@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RixInooAriDuriR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Se-hwa";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Se-hwa.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEduSaeeum_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#wrap {
  width: 100%;
  height: 100vh;
  font-family: "Agbalumo", sans-serif;
}

.section {
  background: #02554b;
  width: 100%;
  height: 100vh;
}

.nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 50px;
  z-index: 1000;
  background: transparent;
}
.nav a {
  font-size: 2rem;
}
.nav .hamburger {
  width: 20px;
  height: 17px;
  position: relative;
  cursor: pointer;
}
.nav .hamburger span {
  height: 2px;
  background: #f9a42d;
  display: block;
  position: absolute;
  transition: 0.5s;
}
.nav .hamburger span:first-of-type {
  top: 0;
  right: 0;
  width: 60%;
  transition-delay: 0.1s;
}
.nav .hamburger span:nth-of-type(2) {
  top: 48%;
  right: 0;
  width: 80%;
}
.nav .hamburger span:last-of-type {
  bottom: 0;
  right: 0;
  width: 100%;
}
.nav .hamburger.hover span:first-of-type {
  width: 100%;
}
.nav .hamburger.hover span:nth-of-type(2) {
  width: 100%;
}
.nav .hamburger.active span:first-of-type {
  transform: translateY(7.2px) rotate(45deg);
}
.nav .hamburger.active span:nth-of-type(2) {
  width: 0%;
}
.nav .hamburger.active span:last-of-type {
  transform: translateY(-7.2px) rotate(-45deg);
}

.sec1 {
  color: #f9a42d;
  height: 150vh;
}
.sec1 .content {
  width: 1120px;
  height: 100%;
  margin: 0 auto;
  padding: 130px 0 100px 0;
  position: relative;
}
.sec1 .content > img:first-of-type {
  width: 33%;
  border-radius: 70px 100px 150px 150px;
  position: absolute;
  top: 10%;
  left: 30%;
  border: 7px solid #f9a42d;
}
.sec1 .content > img.stars {
  width: 15%;
  animation: rotate normal infinite 20s linear 2s;
  position: absolute;
  top: 30%;
  right: 0;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.sec1 .content > img:nth-of-type(3) {
  width: 7%;
  position: absolute;
  top: 34%;
  right: 4%;
}
.sec1 .content .main_txt {
  width: 100%;
  position: absolute;
  top: 43%;
  left: 0;
}
.sec1 .content .main_txt p {
  font-size: 1rem;
  margin: 0px 0px -70px 15px;
  font-family: "RixInooAriDuriR";
}
.sec1 .content .main_txt h1 {
  color: #fe4818;
  font-size: 8.8rem;
}
.sec1 .content .main_txt h1:first-of-type span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.5s ease 2 alternate forwards;
}
.sec1 .content .main_txt h1:first-of-type span:not(:first-child) {
  margin-left: -20px;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(2) {
  animation-delay: 0.1s;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(3) {
  animation-delay: 0.2s;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(4) {
  animation-delay: 0.3s;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(5) {
  animation-delay: 0.4s;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(6) {
  margin-left: 0px;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(7) {
  animation-delay: 0.5s;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(8) {
  animation-delay: 0.6s;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(9) {
  animation-delay: 0.7s;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(10) {
  margin-left: 0px;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(11) {
  animation-delay: 0.8s;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(12) {
  animation-delay: 0.9s;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(13) {
  animation-delay: 1s;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(14) {
  animation-delay: 1.2s;
}
.sec1 .content .main_txt h1:first-of-type span:nth-child(15) {
  animation-delay: 1.3s;
}
.sec1 .content .main_txt h1:first-of-type span:last-child {
  animation-delay: 1.4s;
}
@keyframes bounce {
  100% {
    top: -20px;
  }
}
.sec1 .content .main_txt h2 {
  font-size: 6rem;
  color: #f9a42d;
  font-family: "Lilita One", sans-serif;
}
.sec1 .content .main_txt h2 span {
  color: #fe4818;
}
.sec1 .content .main_txt h2 i {
  font-size: 3rem;
}
.sec1 .content .ambition {
  width: 100%;
  font-family: "GangwonEduSaeeum_OTFMediumA";
  font-size: 2rem;
  position: absolute;
  bottom: 15%;
  left: 0;
  text-align: center;
  display: none;
}
.sec1 .content .ambition span {
  color: #fe4818;
}

.container {
  overflow: hidden;
}
.container .g_content {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
}
.container .g_content .page {
  flex: 1 0 120%;
}
.container .g_content .page2 {
  padding: 10% 0% 0px 0%;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: "GangwonEduSaeeum_OTFMediumA";
}
.container .g_content .page2 .s2_img {
  position: relative;
  width: 40%;
  margin-right: 200px;
  transform: translateX(-200px);
  opacity: 0;
  transition: 1s;
}
.container .g_content .page2 .s2_img > img {
  position: absolute;
}
.container .g_content .page2 .s2_img > img:first-of-type {
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px rgba(36, 36, 36, 0.7);
}
.container .g_content .page2 .s2_img > img:nth-of-type(2) {
  width: 2.5%;
  top: -20px;
  left: 18%;
  z-index: 10;
  transform: rotate(-15deg);
}
.container .g_content .page2 .s2_img > img:nth-of-type(3) {
  width: 2.5%;
  top: -30px;
  left: 20%;
  z-index: 12;
  transform: rotate(40deg);
}
.container .g_content .page2 .s2_img .post {
  width: 130px;
  height: 45px;
  position: absolute;
  cursor: pointer;
}
.container .g_content .page2 .s2_img .post:hover p {
  opacity: 1;
  transform: scale(1.1);
}
.container .g_content .page2 .s2_img .post:hover img {
  transform: scale(1.1);
}
.container .g_content .page2 .s2_img .post img {
  width: 100%;
  transition: 0.3s;
  box-shadow: 5px 0px 0px rgba(36, 36, 36, 0.3);
}
.container .g_content .page2 .s2_img .post p {
  width: 100%;
  font-size: 1.2rem;
  margin: -37px 0 0 35px;
  opacity: 0.5;
  transition: 0.3s;
}
.container .g_content .page2 .s2_img .postIt {
  top: 20%;
  right: -10%;
  color: rgb(82, 64, 51);
}
.container .g_content .page2 .s2_img .postIt img {
  transform: scale(1.1);
}
.container .g_content .page2 .s2_img .postIt p {
  opacity: 1;
  transform: scale(1.1);
}
.container .g_content .page2 .s2_img .introduce {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .g_content .page2 .s2_img .introduce .myImg {
  width: 270px;
  height: 300px;
  background: #fff;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  position: relative;
}
.container .g_content .page2 .s2_img .introduce .myImg img:first-of-type {
  width: 250px;
  height: 250px;
}
.container .g_content .page2 .s2_img .introduce .myImg img:last-of-type {
  width: 60%;
  position: absolute;
  bottom: -17%;
  left: 25%;
}
.container .g_content .page2 .s2_img .introduce .myInfo {
  width: 55%;
  height: auto;
  padding-top: 0px;
  color: rgb(82, 64, 51);
  position: relative;
}
.container .g_content .page2 .s2_img .introduce .myInfo .myInfo_hidden {
  display: none;
}
.container .g_content .page2 .s2_img .introduce .myInfo > img {
  width: 10%;
  position: absolute;
  top: 0;
  right: 40%;
}
.container .g_content .page2 .s2_img .introduce .myInfo h2 {
  font-size: 4rem;
  color: #fe4818;
  padding-bottom: 20px;
}
.container .g_content .page2 .s2_img .introduce .myInfo p {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  opacity: 0;
  transition: 0.7s;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill {
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: 2s;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill h4 {
  font-size: 1.5rem;
  width: 10%;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill .skill_box {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill .skill_box > div {
  width: 25%;
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill .skill_box > div i {
  font-size: 2rem;
  width: 100%;
  color: #f9a42d;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill .skill_box > div span {
  display: inline-block;
  width: 100%;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill .skill_box > div img {
  width: 100%;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill .skill_box > div:nth-of-type(5) img {
  width: 70%;
  height: 30%;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill .skill_box > div:nth-of-type(8) img {
  width: 50%;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill .skill_box > div:nth-of-type(9) img {
  width: 30%;
  height: 41%;
  border-radius: 2px;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill .skill_box > div:nth-of-type(10) img {
  width: 35%;
  height: 42%;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill .skill_box > div:nth-of-type(11) img {
  width: 33%;
  height: 40%;
}
.container .g_content .page2 .s2_img .introduce .myInfo .skill .skill_box > div:last-of-type img {
  width: 40%;
}
.container .g_content .page2 .show_post {
  width: 35%;
  position: relative;
  transform: translateX(200px);
  opacity: 0;
  transition: 1s;
}
.container .g_content .page2 .show_post .post_click {
  width: 50%;
  height: 50%;
  position: relative;
  display: block;
}
.container .g_content .page2 .show_post .post_click img {
  width: 40%;
  transform: rotate(70deg);
  position: absolute;
  top: 20%;
  left: -30%;
}
.container .g_content .page2 .show_post .post_click h2 {
  font-size: 4rem;
  color: #f9a42d;
  position: absolute;
  bottom: 20%;
  left: 0%;
}
.container .g_content .page2 .show_post .my_project {
  width: 100%;
  height: 85%;
  position: relative;
  display: none;
}
.container .g_content .page2 .show_post .my_project .hiSun {
  position: absolute;
  width: 25%;
  top: 40%;
  right: 5%;
  transform: translateX(200px);
  opacity: 0;
  transition: 1s;
}
.container .g_content .page2 .show_post .my_project .arrow {
  width: 11%;
  position: absolute;
  bottom: 35%;
  left: 19%;
  z-index: 10;
  transform: rotate(-10deg);
}
.container .g_content .page2 .show_post .my_project .pj_intro {
  position: relative;
  transform: rotate(-3deg);
  width: 51%;
}
.container .g_content .page2 .show_post .my_project .pj_intro img {
  width: 100%;
  box-shadow: 5px 0px 10px rgba(36, 36, 36, 0.3);
}
.container .g_content .page2 .show_post .my_project .pj_intro p {
  position: absolute;
  bottom: 27%;
  left: 19%;
  font-size: 1.3rem;
}
.container .g_content .page2 .show_post .my_project .pj_intro .go_pj_btn {
  position: absolute;
  bottom: 10%;
  right: 5%;
}
.container .g_content .page2 .show_post .my_project .pj_intro .go_pj_btn .button-container {
  position: relative;
  width: 150px;
  height: 50px;
  overflow: hidden;
  border: 1px solid #000;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}
.container .g_content .page2 .show_post .my_project .pj_intro .go_pj_btn .button-container button {
  width: 101%;
  height: 100%;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "GangwonEduSaeeum_OTFMediumA";
  background: #000;
  -webkit-mask: url("../img/mask.png");
          mask: url("../img/mask.png");
  padding-top: 7px;
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  animation: ani2 0.7s steps(29) forwards;
}
.container .g_content .page2 .show_post .my_project .pj_intro .go_pj_btn .button-container button:hover {
  animation: ani 0.7s steps(29) forwards;
}
.container .g_content .page2 .show_post .my_project .pj_intro .go_pj_btn .mask {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-size: 1.2rem;
  margin-top: 17px;
  overflow: hidden;
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
.container .g_content .page2 .show_post .my_project .pj_ticket {
  width: 59%;
  height: 200px;
  display: flex;
  border-radius: 20px;
  position: absolute;
  bottom: 0%;
  left: 12%;
  transform: rotate(10deg);
  font-family: "Noto Serif Kr", sans-serif;
}
.container .g_content .page2 .show_post .my_project .pj_ticket > div {
  width: 50%;
  height: 100%;
  background: #e0e0e0;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}
.container .g_content .page2 .show_post .my_project .pj_ticket > div .orangeBox {
  width: 100%;
  background: #ed5629;
  height: 50px;
  align-self: flex-end;
  padding: 20px;
  font-size: 0.6rem;
}
.container .g_content .page2 .show_post .my_project .pj_ticket > div .left_ticket {
  padding: 20px;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  justify-content: space-between;
}
.container .g_content .page2 .show_post .my_project .pj_ticket > div .left_ticket img {
  width: 48%;
  border-radius: 10px;
}
.container .g_content .page2 .show_post .my_project .pj_ticket > div .left_ticket h3 {
  width: 45%;
}
.container .g_content .page2 .show_post .my_project .pj_ticket > div .left_ticket h3 span {
  font-size: 0.9rem;
}
.container .g_content .page2 .show_post .my_project .pj_ticket > div .right_ticket {
  padding: 30px 15px 15px;
  width: 100%;
  height: calc(100% - 50px);
  position: relative;
}
.container .g_content .page2 .show_post .my_project .pj_ticket > div .right_ticket img {
  width: 25%;
  position: absolute;
  top: 10px;
  right: 10px;
}
.container .g_content .page3 {
  border: 2px solid firebrick;
  display: flex;
  justify-content: space-around;
}
.container .g_content .page3 .fila {
  width: 30%;
  padding-top: 6%;
}
.container .g_content .page3 .fila .p3_img {
  width: 60%;
  height: 370px;
  position: relative;
  overflow: hidden;
}
.container .g_content .page3 .fila .p3_img > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.container .g_content .page3 .fila .p3_img a {
  display: inline-block;
  width: 90%;
  position: absolute;
  top: 3%;
  left: 5%;
}
.container .g_content .page3 .fila .p3_img a img {
  width: 100%;
}
.container .g_content .page4 {
  border: 2px solid cornflowerblue;
}

.page5 {
  background: seagreen;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 0 100px;
}
.page5 .contact {
  width: 40%;
  height: 50%;
  color: #f9a42d;
  position: relative;
  font-family: "Lilita One", sans-serif;
}
.page5 .contact .light_box {
  width: 100%;
  height: 30%;
}
.page5 .contact .light_box:hover ~ .line {
  animation: line 2s 1 forwards;
}
.page5 .contact .light_box:hover ~ .line2 {
  animation-delay: 0.3s;
}
@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
.page5 .contact .light_box h2 {
  font-size: 4rem;
  cursor: pointer;
  width: 49%;
  transition: 1s;
}
.page5 .contact .light_box h2:hover ~ img {
  animation: bulb 2s ease infinite 2s;
}
@keyframes wave {
  100% {
    background-position-x: 50%;
    background-size: 20%;
    font-size: 4.1rem;
  }
}
.page5 .contact .light_box img {
  position: absolute;
  transition: 0.5s;
  cursor: pointer;
}
.page5 .contact .light_box img:first-of-type {
  width: 5%;
  top: -10%;
  left: 42%;
  opacity: 1;
}
.page5 .contact .light_box img:not(:first-of-type) {
  width: 0.5%;
  opacity: 1;
  height: 21.5px;
}
.page5 .contact .light_box img:nth-of-type(2) {
  top: -15%;
  left: 40%;
  transform: rotate(-20deg);
}
.page5 .contact .light_box img:nth-of-type(3) {
  top: -17%;
  left: 46%;
  transform: rotate(20deg);
}
.page5 .contact .light_box img:last-of-type {
  top: -10%;
  left: 50%;
  transform: rotate(60deg);
}
@keyframes bulb {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.page5 .contact .line {
  width: 40%;
  height: 4px;
  background: #f9a42d;
  border-radius: 10px;
  position: absolute;
  top: 18%;
  left: 2%;
}
.page5 .contact .line2 {
  width: 42%;
  top: 20%;
  left: 0%;
}
.page5 .contact p {
  font-size: 2rem;
}
.page5 .contact p span {
  color: #f9a42d;
}
.page5 .contact .sns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.page5 .contact .sns > a {
  display: inline-block;
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.page5 .contact .sns > a i {
  font-size: 2rem;
  width: 100%;
}
.page5 .contact .sns > a p {
  width: 100%;
}

.sun {
  width: 10%;
  position: fixed;
  bottom: 5%;
  left: -280px;
  transition: 0.5s;
  z-index: 500;
}