@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Archivo+Black&family=Black+Han+Sans&family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,400&family=Coiny&family=Gasoek+One&family=Gowun+Batang&family=Grandiflora+One&family=Gugi&family=Hahmlet:wght@100&family=IBM+Plex+Sans+KR:wght@300&family=Lilita+One&family=Lobster&family=Nanum+Gothic:wght@700&family=Noto+Sans+KR:wght@400;500&family=Noto+Serif+KR:wght@200;300;400;900&family=Orbit&family=Paytone+One&family=Prompt:wght@500&family=Titan+One&display=swap");
@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RixInooAriDuriR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body,
html {
  height: 100%;
  width: 100%;
}

.nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 50px;
  z-index: 15;
  background: transparent;
  font-family: "Agbalumo", sans-serif;
}
.nav a {
  font-size: 2rem;
  color: #f9a42d;
}
.nav .hamburger {
  width: 20px;
  height: 17px;
  position: relative;
  cursor: pointer;
}
.nav .hamburger span {
  height: 2px;
  background: #f9a42d;
  display: block;
  position: absolute;
  transition: 0.5s;
}
.nav .hamburger span:first-of-type {
  top: 0;
  right: 0;
  width: 60%;
  transition-delay: 0.1s;
}
.nav .hamburger span:nth-of-type(2) {
  top: 48%;
  right: 0;
  width: 80%;
}
.nav .hamburger span:last-of-type {
  bottom: 0;
  right: 0;
  width: 100%;
}
.nav .hamburger.hover span:first-of-type {
  width: 100%;
}
.nav .hamburger.hover span:nth-of-type(2) {
  width: 100%;
}
.nav .hamburger.active span:first-of-type {
  transform: translateY(7.2px) rotate(45deg);
}
.nav .hamburger.active span:nth-of-type(2) {
  width: 0%;
}
.nav .hamburger.active span:last-of-type {
  transform: translateY(-7.2px) rotate(-45deg);
}

.main {
  width: 100%;
  height: 100%;
  background: #02554b;
  position: relative;
  z-index: 5;
}
.main .content {
  width: 1120px;
  height: 100%;
  margin: 0 auto;
  padding: 130px 0 0px 0;
  position: relative;
}
.main .content .leaflet_wrap {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 10%;
  left: 35%;
  transition: 1s;
  cursor: pointer;
}
.main .content .leaflet_wrap:hover {
  transform: scale(1.3);
}
.main .content .leaflet_wrap .leaflet {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 1000px;
}
.main .content .leaflet_wrap .leaflet:hover .front {
  transform: rotateY(-180deg);
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.main .content .leaflet_wrap .leaflet:hover .front h2, .main .content .leaflet_wrap .leaflet:hover .front img {
  opacity: 0;
}
.main .content .leaflet_wrap .leaflet:hover .back > .pj_ticket {
  transform: translateX(300px);
}
.main .content .leaflet_wrap .leaflet > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.main .content .leaflet_wrap .leaflet > div.front {
  background: #81c0b5;
  padding: 30px;
  text-align: center;
  border: 5px solid #fe6a6a;
  z-index: 1;
  transform-origin: left center;
  transition: 1s ease-in;
  transform: rotateY(-15deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), 10px 0px 0px #fe6a6a;
}
.main .content .leaflet_wrap .leaflet > div.front h2, .main .content .leaflet_wrap .leaflet > div.front img {
  transition: 1s;
}
.main .content .leaflet_wrap .leaflet > div.front h2 {
  font-size: 3rem;
  font-family: "Noto Serif Kr", sans-serif;
  color: #fe6a6a;
  line-height: 70px;
}
.main .content .leaflet_wrap .leaflet > div.front h2 span {
  color: #fe4818;
}
.main .content .leaflet_wrap .leaflet > div.front .heart {
  width: 30%;
  position: absolute;
  bottom: 10%;
  right: 25%;
}
.main .content .leaflet_wrap .leaflet > div.front .planet {
  width: 15%;
  position: absolute;
  top: 23%;
  left: 7%;
  animation: planet 10s ease-out 2s 1 forwards, planet2 5s ease-in-out 13s infinite forwards;
}
@keyframes planet {
  20% {
    top: 23%;
    left: 80%;
  }
  40% {
    top: 60%;
    left: 7%;
  }
  60% {
    left: 80%;
    top: 65%;
  }
  80% {
    left: 7%;
    top: 70%;
  }
  100% {
    rotate: 180deg;
    left: 25%;
    top: 70%;
  }
}
@keyframes planet2 {
  100% {
    transform: rotateY(360deg);
  }
}
.main .content .leaflet_wrap .leaflet > div.back {
  background: #fe6a6a;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.main .content .leaflet_wrap .leaflet > div.back > div:not(.pj_ticket) {
  width: 100%;
  height: calc(100% - 125px);
  border-radius: 10px 10px 0 0;
  margin-bottom: 5px;
  background: #81c0b5;
  display: flex;
  flex-wrap: wrap;
  font-family: "Agbalumo", sans-serif;
}
.main .content .leaflet_wrap .leaflet > div.back > div:not(.pj_ticket) h3 {
  background: #fe6a6a;
  width: 60%;
  height: 90px;
  color: #333;
  border-radius: 8px 0 0 0;
  padding: 30px 0px 0 10px;
  border-bottom: 2px solid #333;
  border: 2px solid #333;
  border-right: none;
}
.main .content .leaflet_wrap .leaflet > div.back > div:not(.pj_ticket) > div:first-of-type {
  width: 40%;
  height: 90px;
  background: #333;
  border-radius: 0 8px 0 0;
}
.main .content .leaflet_wrap .leaflet > div.back > div:not(.pj_ticket) > div:first-of-type .earth {
  width: 13%;
  position: absolute;
  top: 9.5%;
  right: 14%;
  transform: perspective(500px) rotateY(-15deg);
  transition: 1s;
}
.main .content .leaflet_wrap .leaflet > div.back > div:not(.pj_ticket) > div:first-of-type .stars {
  width: 23%;
  animation: rotate normal infinite 20s linear 2s;
  transition: 1s;
  position: absolute;
  top: 5%;
  right: 10%;
  transform: perspective(500px);
}
@keyframes rotate {
  to {
    transform: perspective(500px) rotate(360deg);
  }
}
.main .content .leaflet_wrap .leaflet > div.back > div:not(.pj_ticket) > div:last-of-type {
  width: 100%;
  height: calc(100% - 90px);
  padding: 20px 18px;
  color: #333;
  line-height: 20px;
  font-family: "GmarketSansMedium";
  border: 2px solid #333;
  border-top: none;
}
.main .content .leaflet_wrap .leaflet > div.back > p {
  width: 100%;
  height: 120px;
  background: #333;
  padding: 16px;
  border-radius: 0 0 10px 10px;
  font-family: "GmarketSansMedium";
  font-size: 0.75rem;
  line-height: 18px;
  color: #fe6a6a;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket {
  width: 150px;
  height: 400px;
  transition: 1s;
  transform: rotate(-70deg) translateY(200px);
  position: absolute;
  bottom: 0%;
  left: 12%;
  font-family: "Noto Serif Kr", sans-serif;
  color: #fe4818;
  animation: ticket 2s 12s 2 alternate;
}
@keyframes ticket {
  50% {
    transform: rotate(-90deg) translateY(200px);
  }
  100% {
    transform: rotate(-70deg) translateY(200px);
  }
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div {
  background: #ddd9d8;
  position: relative;
  transition: 1s;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.top_ticket {
  width: 100%;
  height: 70%;
  padding: 20px;
  border-radius: 15px 0px 15px 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #aaa;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.top_ticket img {
  width: 135px;
  height: 175px;
  border-radius: 10px;
  position: absolute;
  top: 3%;
  left: 5%;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.top_ticket h3 {
  position: absolute;
  bottom: 18%;
  left: 5%;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.top_ticket h5 {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.top_ticket h5 span {
  font-size: 0.65rem;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.bottom_ticket {
  width: 100%;
  height: 30%;
  position: relative;
  border-radius: 15px 15px 0px 15px;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.bottom_ticket h6 {
  position: absolute;
  top: 10%;
  left: 5%;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.bottom_ticket h6 i {
  color: #02554b;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.bottom_ticket p {
  font-size: 0.3rem;
  width: 91%;
  line-height: 8px;
  position: absolute;
  top: 25%;
  left: 5%;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.bottom_ticket img {
  width: 30%;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.main .content .main_txt {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 0;
  color: #f9a42d;
}
.main .content .main_txt p {
  font-size: 1rem;
  margin: 0px 0px -50px 15px;
  font-family: "PartialSansKR-Regular";
}
.main .content .main_txt h1 {
  color: #fe4818;
  font-size: 8.8rem;
  font-family: "Agbalumo", sans-serif;
  margin: 0;
  padding-bottom: 50px;
}
.main .content .main_txt h1:first-of-type span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.5s ease 2 alternate forwards;
}
.main .content .main_txt h1:first-of-type span:not(:first-child) {
  margin-left: -20px;
}
.main .content .main_txt h1:first-of-type span:nth-child(2) {
  animation-delay: 0.1s;
}
.main .content .main_txt h1:first-of-type span:nth-child(3) {
  animation-delay: 0.2s;
}
.main .content .main_txt h1:first-of-type span:nth-child(4) {
  animation-delay: 0.3s;
}
.main .content .main_txt h1:first-of-type span:nth-child(5) {
  animation-delay: 0.4s;
}
.main .content .main_txt h1:first-of-type span:nth-child(6) {
  margin-left: 0px;
}
.main .content .main_txt h1:first-of-type span:nth-child(7) {
  animation-delay: 0.5s;
}
.main .content .main_txt h1:first-of-type span:nth-child(8) {
  animation-delay: 0.6s;
}
.main .content .main_txt h1:first-of-type span:nth-child(9) {
  animation-delay: 0.7s;
}
.main .content .main_txt h1:first-of-type span:nth-child(10) {
  margin-left: 0px;
}
.main .content .main_txt h1:first-of-type span:nth-child(11) {
  animation-delay: 0.8s;
}
.main .content .main_txt h1:first-of-type span:nth-child(12) {
  animation-delay: 0.9s;
}
.main .content .main_txt h1:first-of-type span:nth-child(13) {
  animation-delay: 1s;
}
.main .content .main_txt h1:first-of-type span:nth-child(14) {
  animation-delay: 1.2s;
}
.main .content .main_txt h1:first-of-type span:nth-child(15) {
  animation-delay: 1.3s;
}
.main .content .main_txt h1:first-of-type span:last-child {
  animation-delay: 1.4s;
}
@keyframes bounce {
  100% {
    top: -20px;
  }
}
.main .content .main_txt h2 {
  font-size: 6rem;
  color: #f9a42d;
  font-family: "Lilita One", sans-serif;
}
.main .content .main_txt h2 span {
  color: #fe4818;
}
.main .content .main_txt h2 i {
  font-size: 3rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper .sections {
  width: 100%;
  height: 106vh;
}
.wrapper .sections .section {
  height: 100%;
  width: 33.3333333333%;
  position: relative;
}
.wrapper .sections .vertical {
  width: 300%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.wrapper .sections .vertical .section1 {
  background: #02554b;
}
.wrapper .sections .vertical .section5 {
  background: #02554b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 0 100px;
  font-family: "Lilita One", sans-serif;
}
.wrapper .sections .vertical .section5 .light_box {
  width: 540px;
  height: 455px;
  color: #f9a42d;
}
.wrapper .sections .vertical .section5 .light_box > h2 {
  font-size: 5rem;
  text-align: right;
  cursor: pointer;
  transition: 1s;
}
.wrapper .sections .vertical .section5 .light_box > h2:hover ~ img {
  animation: bulb 2s ease infinite;
}
.wrapper .sections .vertical .section5 .light_box > h2 span {
  color: #fe4818;
}
.wrapper .sections .vertical .section5 .light_box img {
  position: absolute;
  transition: 0.5s;
  cursor: pointer;
}
.wrapper .sections .vertical .section5 .light_box img:first-of-type {
  width: 35px;
  top: 17rem;
  left: 8rem;
  opacity: 1;
}
.wrapper .sections .vertical .section5 .light_box img:not(:first-of-type) {
  width: 5px;
  opacity: 1;
  height: 22px;
}
.wrapper .sections .vertical .section5 .light_box img:nth-of-type(2) {
  top: 16.5rem;
  left: 6.5rem;
  transform: rotate(-70deg);
}
.wrapper .sections .vertical .section5 .light_box img:nth-of-type(3) {
  top: 15rem;
  left: 8rem;
  transform: rotate(-20deg);
}
.wrapper .sections .vertical .section5 .light_box img:last-of-type {
  top: 15rem;
  left: 10rem;
  transform: rotate(0deg);
}
@keyframes bulb {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.wrapper .sections .vertical .section5 .light_box .source {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.wrapper .sections .vertical .section5 .light_box .source p {
  font-family: "RixInooAriDuriR";
}
.wrapper .sections .vertical .section5 .light_box .source a {
  color: #f9a42d;
  text-decoration: underline;
}
.wrapper .sections .vertical .section5 .hobby {
  width: calc(100% - 650px);
  height: 850px;
}
.wrapper .sections .vertical .section5 .hobby .line_box {
  width: 245px;
  height: 70px;
  margin-bottom: 50px;
}
.wrapper .sections .vertical .section5 .hobby .line_box:hover ~ .line {
  animation: line 2s 1;
}
.wrapper .sections .vertical .section5 .hobby .line_box:hover ~ .line2 {
  animation-delay: 0.3s;
}
@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 220px;
  }
}
.wrapper .sections .vertical .section5 .hobby .line_box h2 {
  font-size: 3.5rem;
  color: #fe4818;
  cursor: pointer;
}
.wrapper .sections .vertical .section5 .hobby p {
  font-family: "GmarketSansMedium";
  color: #f9a42d;
  padding-bottom: 50px;
}
.wrapper .sections .vertical .section5 .hobby .line {
  width: 230px;
  height: 4px;
  background: #f9a42d;
  border-radius: 10px;
  position: absolute;
  top: 13rem;
  left: 47rem;
}
.wrapper .sections .vertical .section5 .hobby .line2 {
  width: 250px;
  top: 14rem;
  left: 46rem;
}
.wrapper .sections .vertical .section5 .hobby .hobbySlideWrap {
  width: 100%;
  height: calc(100% - 215px);
  overflow: hidden;
}
.wrapper .sections .vertical .section5 .hobby .hobbySlideWrap .hSlide {
  width: 739%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.wrapper .sections .vertical .section5 .hobby .hobbySlideWrap .hSlide img {
  width: 350px;
  border: 5px solid #fed4d5;
  border-radius: 50px;
}
.wrapper .sections .horizontal {
  width: 300%;
  height: 100%;
  display: flex;
  background: #e7dcc0;
}
.wrapper .sections .horizontal .section2 {
  overflow: hidden;
}
.wrapper .sections .horizontal .section2 > div {
  position: absolute;
  font-family: "Lilita One", sans-serif;
}
.wrapper .sections .horizontal .section2 > div:first-of-type, .wrapper .sections .horizontal .section2 > div:last-of-type {
  background: #7b9d7c;
}
.wrapper .sections .horizontal .section2 > div:first-of-type {
  width: 479px;
  height: 511px;
  top: 0;
  left: 0;
  position: relative;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}
.wrapper .sections .horizontal .section2 > div:first-of-type img:first-of-type {
  width: 37%;
  position: absolute;
  top: 270px;
  right: 40px;
  border: 5px solid #b3ceb3;
  border-radius: 50px;
}
.wrapper .sections .horizontal .section2 > div:first-of-type img:last-of-type {
  width: 45%;
  position: absolute;
  top: 100px;
  left: 40px;
  border: 5px solid #b3ceb3;
  border-radius: 50px;
}
.wrapper .sections .horizontal .section2 > div:nth-of-type(2) {
  background: #68918c;
  width: 150px;
  height: 585px;
  transform: perspective(500px) rotateY(-70deg);
  left: 26.6rem;
  top: -2.3rem;
  border-bottom: 1px solid #5f4b00;
}
.wrapper .sections .horizontal .section2 > div.info {
  background: #75aca6;
  width: 1200px;
  height: 597px;
  top: 0;
  right: 10.75rem;
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 0 100px;
  border: 1px solid #5f4b00;
  border-top: none;
}
.wrapper .sections .horizontal .section2 > div.info h2 {
  color: #5f4b00;
}
.wrapper .sections .horizontal .section2 > div.info p, .wrapper .sections .horizontal .section2 > div.info a, .wrapper .sections .horizontal .section2 > div.info i, .wrapper .sections .horizontal .section2 > div.info span {
  color: #f1e9d5;
}
.wrapper .sections .horizontal .section2 > div.info .hidden_info {
  display: none;
}
.wrapper .sections .horizontal .section2 > div.info .visible_info {
  width: 50%;
  height: 50%;
  display: block;
}
.wrapper .sections .horizontal .section2 > div.info .visible_info img {
  width: 20%;
  padding-bottom: 20px;
}
.wrapper .sections .horizontal .section2 > div.info .visible_info h2 {
  font-size: 3.5rem;
  padding-bottom: 20px;
}
.wrapper .sections .horizontal .section2 > div.info .visible_info p {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
  opacity: 0;
  font-family: "GmarketSansMedium";
}
.wrapper .sections .horizontal .section2 > div.info .skill {
  width: 45%;
  height: 75%;
}
.wrapper .sections .horizontal .section2 > div.info .skill h2 {
  font-size: 3rem;
  padding-bottom: 30px;
}
.wrapper .sections .horizontal .section2 > div.info .skill .skill_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  opacity: 0;
  transition: 2s;
}
.wrapper .sections .horizontal .section2 > div.info .skill .skill_box > div {
  width: 30%;
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.wrapper .sections .horizontal .section2 > div.info .skill .skill_box > div i {
  font-size: 2rem;
  width: 100%;
}
.wrapper .sections .horizontal .section2 > div.info .skill .skill_box > div span {
  display: inline-block;
  width: 100%;
  font-size: 0.9rem;
  align-self: flex-end;
}
.wrapper .sections .horizontal .section2 > div.info .skill .skill_box > div img {
  width: 100%;
}
.wrapper .sections .horizontal .section2 > div.info .skill .skill_box > div:nth-of-type(5) img {
  width: 45%;
  height: 40%;
  align-self: flex-end;
}
.wrapper .sections .horizontal .section2 > div.info .skill .skill_box > div:nth-of-type(8) img {
  width: 32%;
}
.wrapper .sections .horizontal .section2 > div.info .skill .skill_box > div:nth-of-type(9) img {
  width: 20%;
  height: 55%;
  border-radius: 3px;
}
.wrapper .sections .horizontal .section2 > div.info .skill .skill_box > div:nth-of-type(10) img {
  width: 23%;
}
.wrapper .sections .horizontal .section2 > div.info .skill .skill_box > div:nth-of-type(11) img {
  width: 23%;
}
.wrapper .sections .horizontal .section2 > div.info .skill .skill_box > div:last-of-type img {
  width: 30%;
}
.wrapper .sections .horizontal .section2 > div.info .contact {
  width: 60%;
  height: 25%;
  position: absolute;
  bottom: 5rem;
  left: 100px;
}
.wrapper .sections .horizontal .section2 > div.info .contact h2 {
  font-size: 3.5rem;
  padding-bottom: 20px;
}
.wrapper .sections .horizontal .section2 > div.info .contact p {
  font-size: 1.2rem;
}
.wrapper .sections .horizontal .section2 > div.info .sns {
  width: 20%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 20px;
  right: 50px;
}
.wrapper .sections .horizontal .section2 > div.info .sns > p {
  width: 100%;
  font-size: 1.3rem;
}
.wrapper .sections .horizontal .section2 > div.info .sns > a {
  display: inline-block;
  width: 30%;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.wrapper .sections .horizontal .section2 > div.info .sns > a i {
  font-size: 2rem;
  width: 100%;
}
.wrapper .sections .horizontal .section2 > div.info .sns > a p {
  width: 100%;
}
.wrapper .sections .horizontal .section2 > div:nth-of-type(4) {
  width: 200px;
  height: 700px;
  right: -2px;
  top: -3.3rem;
  transform: perspective(300px) rotateY(-30deg);
  border-bottom: 1px solid #5f4b00;
}
.wrapper .sections .horizontal .section2 > img {
  width: 200px;
  position: absolute;
  bottom: 100px;
  right: -200px;
  transition: 1s;
}
.wrapper .sections .horizontal .project {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .sections .horizontal .project > div:first-of-type:not(.node_txt) {
  font-family: "Lilita One", sans-serif;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.wrapper .sections .horizontal .project > div:first-of-type:not(.node_txt)::after {
  content: "Hover";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: 1s;
  color: #f9a42d;
}
.wrapper .sections .horizontal .project > div:first-of-type:not(.node_txt):hover::after {
  background: none;
  content: "Click to see more";
}
.wrapper .sections .horizontal .project > div:first-of-type:not(.node_txt) img {
  width: 100%;
  transition: 5s;
}
.wrapper .sections .horizontal .project > div:last-of-type {
  font-family: "GmarketSansMedium";
  background: #eee;
  border-top: 3px outset #ccc;
  padding: 15px;
  border-left: 3px outset #ccc;
  position: relative;
  box-shadow: 5px 5px rgba(95, 95, 95, 0.2);
}
.wrapper .sections .horizontal .project > div:last-of-type h5 {
  width: 100%;
  padding-bottom: 10px;
}
.wrapper .sections .horizontal .project > div:last-of-type h6 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}
.wrapper .sections .horizontal .project > div:last-of-type p {
  position: absolute;
}
.wrapper .sections .horizontal .project > div:last-of-type p:first-of-type {
  bottom: 30px;
  right: 15px;
  font-size: 0.5rem;
}
.wrapper .sections .horizontal .project > div:last-of-type p:last-of-type {
  bottom: 15px;
  right: 15px;
  font-size: 0.6rem;
}
.wrapper .sections .horizontal .section3 {
  perspective: 1000px;
}
.wrapper .sections .horizontal .section3 .sun {
  width: 10%;
  position: absolute;
  bottom: 10%;
  transition: 0.5s;
  z-index: 10;
  display: block;
}
.wrapper .sections .horizontal .section3 > div {
  position: absolute;
  display: flex;
  align-items: center;
  min-width: 1933px;
  min-height: 763px;
  width: 101.6%;
  height: 75.5%;
  padding: 0 130px 0 80px;
  background: #b3ceb3;
  top: -5.3rem;
  left: 9rem;
  transform: rotateY(10deg);
  justify-content: space-between;
  border-bottom: 1px solid #5f4b00;
  border-left: 1px solid #5f4b00;
  border-right: 2px solid #5f4b00;
}
.wrapper .sections .horizontal .section3 > div .project:first-of-type {
  width: 450px;
  height: 85%;
  align-content: flex-end;
}
.wrapper .sections .horizontal .section3 > div .project:first-of-type > div.seeMore {
  width: 100%;
  height: 255px;
  margin-bottom: 20px;
  border: 10px ridge #53453a;
}
.wrapper .sections .horizontal .section3 > div .project:first-of-type > div.seeMore::after {
  padding: 25% 45%;
  font-size: 1.3rem;
}
.wrapper .sections .horizontal .section3 > div .project:first-of-type > div.seeMore:hover::after {
  padding: 25% 35%;
}
.wrapper .sections .horizontal .section3 > div .project:first-of-type > div.seeMore:hover img {
  transform: translateY(-85.5%);
}
.wrapper .sections .horizontal .section3 > div .project:first-of-type > div:last-of-type {
  width: 170px;
  height: 125px;
}
.wrapper .sections .horizontal .section3 > div .project:first-of-type > div:last-of-type h5 {
  font-size: 0.75rem;
}
.wrapper .sections .horizontal .section3 > div .project:first-of-type > div:last-of-type h6 {
  font-size: 0.6rem;
}
.wrapper .sections .horizontal .section3 > div .project:first-of-type > div:last-of-type p:first-of-type {
  font-size: 0.45rem;
}
.wrapper .sections .horizontal .section3 > div .project:first-of-type > div:last-of-type p:last-of-type {
  font-size: 0.55rem;
}
.wrapper .sections .horizontal .section3 > div .project:nth-of-type(2) {
  width: 500px;
  height: 60%;
  align-content: center;
}
.wrapper .sections .horizontal .section3 > div .project:nth-of-type(2) > div.seeMore {
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
  border: 10px ridge #53453a;
}
.wrapper .sections .horizontal .section3 > div .project:nth-of-type(2) > div.seeMore::after {
  padding: 110px 220px;
  font-size: 1.4rem;
}
.wrapper .sections .horizontal .section3 > div .project:nth-of-type(2) > div.seeMore:hover::after {
  padding: 110px 155px;
}
.wrapper .sections .horizontal .section3 > div .project:nth-of-type(2) > div.seeMore:hover img {
  transform: translateY(-78.8%);
}
.wrapper .sections .horizontal .section3 > div .project:nth-of-type(2) > div:last-of-type {
  width: 200px;
  height: 120px;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type {
  width: 550px;
  height: 85%;
  align-content: flex-end;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div.seeMore {
  width: 100%;
  height: 280px;
  margin-bottom: 20px;
  border: 10px ridge #53453a;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div.seeMore::after {
  padding: 115px 240px;
  font-size: 1.7rem;
  z-index: 1;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div.seeMore:hover::after {
  padding: 115px 170px;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div.seeMore:hover > img:first-of-type {
  z-index: -1;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div.seeMore:hover > img:last-of-type {
  z-index: 0;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div.seeMore img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div.seeMore img:first-of-type {
  z-index: 0;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div.seeMore img:last-of-type {
  z-index: -1;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div:last-of-type {
  width: 220px;
  height: 130px;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div:last-of-type h5 {
  font-size: 0.9rem;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div:last-of-type h6 {
  font-size: 0.75rem;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div:last-of-type p:first-of-type {
  font-size: 0.55rem;
  bottom: 35px;
}
.wrapper .sections .horizontal .section3 > div .project:last-of-type > div:last-of-type p:last-of-type {
  font-size: 0.7rem;
}
.wrapper .sections .horizontal .section4 {
  overflow: hidden;
  perspective: 1000px;
}
.wrapper .sections .horizontal .section4 > div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1932px;
  min-height: 763px;
  width: 101.5%;
  height: 75.5%;
  background: #81c0b5;
  top: -5.3rem;
  left: -10.85rem;
  border-bottom: 1px solid #5f4b00;
  transform: rotateY(-10deg);
  padding: 0 60px 0 100px;
}
.wrapper .sections .horizontal .section4 > div .project:first-of-type {
  width: 470px;
  height: 60%;
  align-content: flex-start;
}
.wrapper .sections .horizontal .section4 > div .project:first-of-type > div:first-of-type {
  width: 100%;
  height: 245px;
  margin-bottom: 20px;
  border: 10px ridge #53453a;
}
.wrapper .sections .horizontal .section4 > div .project:first-of-type > div:first-of-type::after {
  padding: 105px 195px;
  font-size: 1.5rem;
}
.wrapper .sections .horizontal .section4 > div .project:first-of-type > div:first-of-type:hover::after {
  padding: 105px 140px;
}
.wrapper .sections .horizontal .section4 > div .project:first-of-type > div:last-of-type {
  width: 220px;
  height: 130px;
}
.wrapper .sections .horizontal .section4 > div .project:first-of-type > div:last-of-type h5 {
  font-size: 1rem;
}
.wrapper .sections .horizontal .section4 > div .project:first-of-type > div:last-of-type h6 {
  font-size: 0.8rem;
}
.wrapper .sections .horizontal .section4 > div .project:first-of-type > div:last-of-type p:first-of-type {
  font-size: 0.55rem;
  bottom: 35px;
}
.wrapper .sections .horizontal .section4 > div .project:first-of-type > div:last-of-type p:last-of-type {
  font-size: 0.7rem;
}
.wrapper .sections .horizontal .section4 > div .project:nth-of-type(2) {
  width: 420px;
  height: 80%;
  align-content: flex-end;
}
.wrapper .sections .horizontal .section4 > div .project:nth-of-type(2) > div:first-of-type {
  width: 100%;
  height: 230px;
  margin-bottom: 20px;
  border: 10px ridge #53453a;
}
.wrapper .sections .horizontal .section4 > div .project:nth-of-type(2) > div:first-of-type::after {
  padding: 90px 175px;
  font-size: 1.4rem;
}
.wrapper .sections .horizontal .section4 > div .project:nth-of-type(2) > div:first-of-type:hover::after {
  padding: 90px 125px;
}
.wrapper .sections .horizontal .section4 > div .project:nth-of-type(2) > div:first-of-type:hover img {
  transform: translateY(-67%);
}
.wrapper .sections .horizontal .section4 > div .project:nth-of-type(2) > div:last-of-type {
  width: 200px;
  height: 120px;
}
.wrapper .sections .horizontal .section4 > div .project:nth-of-type(3) {
  width: 370px;
  height: 50%;
  align-content: flex-start;
}
.wrapper .sections .horizontal .section4 > div .project:nth-of-type(3) > div:first-of-type {
  width: 100%;
  height: 185px;
  margin-bottom: 20px;
  border: 10px ridge #53453a;
}
.wrapper .sections .horizontal .section4 > div .project:nth-of-type(3) > div:first-of-type::after {
  padding: 70px 145px;
  font-size: 1.4rem;
}
.wrapper .sections .horizontal .section4 > div .project:nth-of-type(3) > div:first-of-type:hover::after {
  padding: 70px 100px;
}
.wrapper .sections .horizontal .section4 > div .project:nth-of-type(3) > div:first-of-type:hover img {
  transform: translateY(-80.5%);
}
.wrapper .sections .horizontal .section4 > div .project:nth-of-type(3) > div:last-of-type {
  width: 190px;
  height: 120px;
}
.wrapper .sections .horizontal .section4 > div .project:last-of-type {
  width: 330px;
  height: 65%;
  align-content: flex-end;
}
.wrapper .sections .horizontal .section4 > div .project:last-of-type > a {
  display: block;
  width: 100%;
  height: 187px;
  margin-bottom: 20px;
  border: 10px ridge #53453a;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  font-family: "Lilita One", sans-serif;
}
.wrapper .sections .horizontal .section4 > div .project:last-of-type > a::after {
  content: "Hover";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: 1s;
  color: #f9a42d;
  padding: 75px 130px;
  font-size: 1.2rem;
}
.wrapper .sections .horizontal .section4 > div .project:last-of-type > a:hover::after {
  background: none;
  padding: 75px 100px;
  content: "click to video";
}
.wrapper .sections .horizontal .section4 > div .project:last-of-type > a video {
  width: 100%;
  display: block;
}
.wrapper .sections .horizontal .section4 > div .project:last-of-type > div {
  width: 170px;
  height: 110px;
}
.wrapper .sections .horizontal .section4 > div .project:last-of-type > div h5 {
  font-size: 0.8rem;
}
.wrapper .sections .horizontal .section4 > div .project:last-of-type > div h6 {
  font-size: 0.6rem;
}
.wrapper .sections .horizontal .section4 > div .project:last-of-type > div p:first-of-type {
  font-size: 0.45rem;
  bottom: 15px;
}

.pj_infoWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 20;
  transition: 1s;
  font-family: "GmarketSansMedium";
  transition: 1s;
}
.pj_infoWrap .pj_box {
  border: 2px solid #5f4b00;
  width: 700px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5f4b00;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.pj_infoWrap .pj_box h2 {
  font-size: 4rem;
  font-family: "RixInooAriDuriR";
  width: 80%;
}
.pj_infoWrap .pj_box h3 {
  padding-bottom: 10px;
  width: 80%;
}
.pj_infoWrap .pj_box img {
  width: 80%;
  padding-bottom: 20px;
}
.pj_infoWrap .pj_box p {
  line-height: 1.5rem;
  width: 80%;
}
.pj_infoWrap .pj_box p:last-of-type {
  padding-bottom: 20px;
}
.pj_infoWrap .pj_box input[type=button] {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background: transparent;
  cursor: pointer;
  border: 2px solid #5f4b00;
  color: #5f4b00;
  padding: 7px 7px 2px;
  font-family: "GmarketSansMedium";
  transition: 0.5s;
}
.pj_infoWrap .pj_box input[type=button]:hover {
  opacity: 0.5;
}
.pj_infoWrap .pj_box > div:first-of-type {
  width: 80%;
  display: flex;
  padding-bottom: 50px;
}
.pj_infoWrap .pj_box > div:first-of-type span {
  display: inline-block;
  border: 2px solid #5f4b00;
  padding: 7px 7px 5px;
  margin-right: 20px;
}
.pj_infoWrap .pj_box > div:last-of-type {
  width: 80%;
  height: 50px;
}
.pj_infoWrap .pj_box > div:last-of-type a {
  position: relative;
  color: #5f4b00;
}
.pj_infoWrap .pj_box > div:last-of-type a:first-of-type::after {
  content: "View site";
}
.pj_infoWrap .pj_box > div:last-of-type a:first-of-type i:first-of-type {
  font-size: 2.3rem;
}
.pj_infoWrap .pj_box > div:last-of-type a:first-of-type i:last-of-type {
  font-size: 2rem;
  left: 30px;
  top: 15px;
}
.pj_infoWrap .pj_box > div:last-of-type a:last-of-type {
  left: 100px;
}
.pj_infoWrap .pj_box > div:last-of-type a:last-of-type::after {
  content: "View document";
}
.pj_infoWrap .pj_box > div:last-of-type a::after {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0;
}
.pj_infoWrap .pj_box > div:last-of-type a i {
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}
.pj_infoWrap .pj_box > div:last-of-type a:hover i {
  opacity: 0;
}
.pj_infoWrap .pj_box > div:last-of-type a:hover::after {
  opacity: 1;
}