@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Archivo+Black&family=Black+Han+Sans&family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,400&family=Coiny&family=Gasoek+One&family=Gowun+Batang&family=Grandiflora+One&family=Gugi&family=Hahmlet:wght@100&family=IBM+Plex+Sans+KR:wght@300&family=Lilita+One&family=Lobster&family=Nanum+Gothic:wght@700&family=Noto+Sans+KR:wght@400;500&family=Noto+Serif+KR:wght@200;300;400;900&family=Orbit&family=Paytone+One&family=Prompt:wght@500&family=Titan+One&display=swap");
@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RixInooAriDuriR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GOSEONGGEUMGANGNURI";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GOSEONGGEUMGANGNURI.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Se-hwa";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Se-hwa.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEduSaeeum_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f9a42d;
}

body,
html {
  height: 100%;
  width: 100%;
}

.nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 50px;
  z-index: 1000;
  background: transparent;
  font-family: "Agbalumo", sans-serif;
}
.nav a {
  font-size: 2rem;
}
.nav .hamburger {
  width: 20px;
  height: 17px;
  position: relative;
  cursor: pointer;
}
.nav .hamburger span {
  height: 2px;
  background: #f9a42d;
  display: block;
  position: absolute;
  transition: 0.5s;
}
.nav .hamburger span:first-of-type {
  top: 0;
  right: 0;
  width: 60%;
  transition-delay: 0.1s;
}
.nav .hamburger span:nth-of-type(2) {
  top: 48%;
  right: 0;
  width: 80%;
}
.nav .hamburger span:last-of-type {
  bottom: 0;
  right: 0;
  width: 100%;
}
.nav .hamburger.hover span:first-of-type {
  width: 100%;
}
.nav .hamburger.hover span:nth-of-type(2) {
  width: 100%;
}
.nav .hamburger.active span:first-of-type {
  transform: translateY(7.2px) rotate(45deg);
}
.nav .hamburger.active span:nth-of-type(2) {
  width: 0%;
}
.nav .hamburger.active span:last-of-type {
  transform: translateY(-7.2px) rotate(-45deg);
}

.main {
  width: 100%;
  height: 100%;
  background: #02554b;
  position: relative;
  z-index: 5;
}
.main .content {
  width: 1120px;
  height: 100%;
  margin: 0 auto;
  padding: 130px 0 0px 0;
  position: relative;
}
.main .content .leaflet_wrap {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 10%;
  left: 35%;
  transition: 1s;
  cursor: pointer;
}
.main .content .leaflet_wrap:hover {
  transform: scale(1.3);
}
.main .content .leaflet_wrap .leaflet {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 1000px;
}
.main .content .leaflet_wrap .leaflet:hover .front {
  transform: rotateY(-180deg);
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.main .content .leaflet_wrap .leaflet:hover .front h2, .main .content .leaflet_wrap .leaflet:hover .front img {
  opacity: 0;
}
.main .content .leaflet_wrap .leaflet:hover .back > .pj_ticket {
  transform: translateX(300px);
}
.main .content .leaflet_wrap .leaflet > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.main .content .leaflet_wrap .leaflet > div.front {
  background: #81c0b5;
  padding: 30px;
  text-align: center;
  border: 5px solid #fe6a6a;
  z-index: 1;
  transform-origin: left center;
  transition: 1s ease-in;
  transform: rotateY(-15deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), 10px 0px 0px #fe6a6a;
}
.main .content .leaflet_wrap .leaflet > div.front h2, .main .content .leaflet_wrap .leaflet > div.front img {
  transition: 1s;
}
.main .content .leaflet_wrap .leaflet > div.front h2 {
  font-size: 3rem;
  font-family: "Noto Serif Kr", sans-serif;
  color: #fe6a6a;
  line-height: 70px;
}
.main .content .leaflet_wrap .leaflet > div.front h2 span {
  color: #fe4818;
}
.main .content .leaflet_wrap .leaflet > div.front .heart {
  width: 30%;
  position: absolute;
  bottom: 10%;
  right: 25%;
}
.main .content .leaflet_wrap .leaflet > div.front .planet {
  width: 15%;
  position: absolute;
  top: 23%;
  left: 7%;
  animation: planet 10s ease-out 2s 1 forwards, planet2 5s ease-in-out 13s infinite forwards;
}
@keyframes planet {
  20% {
    top: 23%;
    left: 80%;
  }
  40% {
    top: 60%;
    left: 7%;
  }
  60% {
    left: 80%;
    top: 65%;
  }
  80% {
    left: 7%;
    top: 70%;
  }
  100% {
    rotate: 180deg;
    left: 25%;
    top: 70%;
  }
}
@keyframes planet2 {
  100% {
    transform: rotateY(360deg);
  }
}
.main .content .leaflet_wrap .leaflet > div.back {
  background: #fe6a6a;
  font-family: "GangwonEduSaeeum_OTFMediumA";
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.main .content .leaflet_wrap .leaflet > div.back > div:not(.pj_ticket) {
  width: 100%;
  height: calc(100% - 125px);
  border-radius: 10px 10px 0 0;
  margin-bottom: 5px;
  background: #81c0b5;
  display: flex;
  flex-wrap: wrap;
  font-family: "Agbalumo", sans-serif;
}
.main .content .leaflet_wrap .leaflet > div.back > div:not(.pj_ticket) h3 {
  background: #fe6a6a;
  width: 60%;
  height: 90px;
  color: #333;
  border-radius: 8px 0 0 0;
  padding: 30px 0px 0 10px;
  border-bottom: 2px solid #333;
  border: 2px solid #333;
  border-right: none;
}
.main .content .leaflet_wrap .leaflet > div.back > div:not(.pj_ticket) > div:first-of-type {
  width: 40%;
  height: 90px;
  background: #333;
  border-radius: 0 8px 0 0;
}
.main .content .leaflet_wrap .leaflet > div.back > div:not(.pj_ticket) > div:first-of-type .earth {
  width: 13%;
  position: absolute;
  top: 9.5%;
  right: 14%;
  transform: perspective(500px) rotateY(-15deg);
  transition: 1s;
}
.main .content .leaflet_wrap .leaflet > div.back > div:not(.pj_ticket) > div:first-of-type .stars {
  width: 23%;
  animation: rotate normal infinite 20s linear 2s;
  transition: 1s;
  position: absolute;
  top: 5%;
  right: 10%;
  transform: perspective(500px);
}
@keyframes rotate {
  to {
    transform: perspective(500px) rotate(360deg);
  }
}
.main .content .leaflet_wrap .leaflet > div.back > div:not(.pj_ticket) > div:last-of-type {
  width: 100%;
  height: calc(100% - 90px);
  padding: 20px 18px;
  font-size: 1.5rem;
  color: #333;
  line-height: 20px;
  font-family: "GOSEONGGEUMGANGNURI";
  border: 2px solid #333;
  border-top: none;
}
.main .content .leaflet_wrap .leaflet > div.back > p {
  width: 100%;
  height: 120px;
  background: #333;
  padding: 17px;
  border-radius: 0 0 10px 10px;
  font-family: "GOSEONGGEUMGANGNURI";
  font-size: 1rem;
  color: #fe6a6a;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket {
  width: 150px;
  height: 400px;
  transition: 1s;
  transform: rotate(-70deg) translateY(200px);
  position: absolute;
  bottom: 0%;
  left: 12%;
  font-family: "Noto Serif Kr", sans-serif;
  color: #fe4818;
  animation: ticket 2s 12s 2 alternate;
}
@keyframes ticket {
  50% {
    transform: rotate(-90deg) translateY(200px);
  }
  100% {
    transform: rotate(-70deg) translateY(200px);
  }
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div {
  background: #ddd9d8;
  position: relative;
  transition: 1s;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.top_ticket {
  width: 100%;
  height: 70%;
  padding: 20px;
  border-radius: 15px 0px 15px 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #aaa;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.top_ticket img {
  width: 135px;
  height: 175px;
  border-radius: 10px;
  position: absolute;
  top: 3%;
  left: 5%;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.top_ticket h3 {
  position: absolute;
  bottom: 18%;
  left: 5%;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.top_ticket h5 {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.top_ticket h5 span {
  font-size: 0.65rem;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.bottom_ticket {
  width: 100%;
  height: 30%;
  position: relative;
  border-radius: 15px 15px 0px 15px;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.bottom_ticket h6 {
  position: absolute;
  top: 10%;
  left: 5%;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.bottom_ticket h6 i {
  color: #02554b;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.bottom_ticket p {
  font-size: 0.3rem;
  width: 91%;
  line-height: 8px;
  position: absolute;
  top: 25%;
  left: 5%;
}
.main .content .leaflet_wrap .leaflet > div.back .pj_ticket > div.bottom_ticket img {
  width: 30%;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.main .content .main_txt {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 0;
  color: #f9a42d;
}
.main .content .main_txt p {
  font-size: 1rem;
  margin: 0px 0px -50px 15px;
  font-family: "RixInooAriDuriR";
}
.main .content .main_txt h1 {
  color: #fe4818;
  font-size: 8.8rem;
  font-family: "Agbalumo", sans-serif;
  margin: 0;
  padding-bottom: 50px;
}
.main .content .main_txt h1:first-of-type span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.5s ease 2 alternate forwards;
}
.main .content .main_txt h1:first-of-type span:not(:first-child) {
  margin-left: -20px;
}
.main .content .main_txt h1:first-of-type span:nth-child(2) {
  animation-delay: 0.1s;
}
.main .content .main_txt h1:first-of-type span:nth-child(3) {
  animation-delay: 0.2s;
}
.main .content .main_txt h1:first-of-type span:nth-child(4) {
  animation-delay: 0.3s;
}
.main .content .main_txt h1:first-of-type span:nth-child(5) {
  animation-delay: 0.4s;
}
.main .content .main_txt h1:first-of-type span:nth-child(6) {
  margin-left: 0px;
}
.main .content .main_txt h1:first-of-type span:nth-child(7) {
  animation-delay: 0.5s;
}
.main .content .main_txt h1:first-of-type span:nth-child(8) {
  animation-delay: 0.6s;
}
.main .content .main_txt h1:first-of-type span:nth-child(9) {
  animation-delay: 0.7s;
}
.main .content .main_txt h1:first-of-type span:nth-child(10) {
  margin-left: 0px;
}
.main .content .main_txt h1:first-of-type span:nth-child(11) {
  animation-delay: 0.8s;
}
.main .content .main_txt h1:first-of-type span:nth-child(12) {
  animation-delay: 0.9s;
}
.main .content .main_txt h1:first-of-type span:nth-child(13) {
  animation-delay: 1s;
}
.main .content .main_txt h1:first-of-type span:nth-child(14) {
  animation-delay: 1.2s;
}
.main .content .main_txt h1:first-of-type span:nth-child(15) {
  animation-delay: 1.3s;
}
.main .content .main_txt h1:first-of-type span:last-child {
  animation-delay: 1.4s;
}
@keyframes bounce {
  100% {
    top: -20px;
  }
}
.main .content .main_txt h2 {
  font-size: 6rem;
  color: #f9a42d;
  font-family: "Lilita One", sans-serif;
}
.main .content .main_txt h2 span {
  color: #fe4818;
}
.main .content .main_txt h2 i {
  font-size: 3rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper .sections {
  width: 100%;
  height: 106vh;
}
.wrapper .sections .section {
  height: 100%;
  width: 33.3333333333%;
  position: relative;
}
.wrapper .sections .vertical {
  width: 300%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.wrapper .sections .vertical .section1 {
  background: #7b9d7c;
}
.wrapper .sections .vertical .section5 {
  background: #d6cbaf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 0 100px;
}
.wrapper .sections .vertical .section5 .contact {
  width: 40%;
  height: 50%;
  color: #fe6a6a;
  position: relative;
  font-family: "Lilita One", sans-serif;
}
.wrapper .sections .vertical .section5 .contact .light_box {
  width: 100%;
  height: 30%;
}
.wrapper .sections .vertical .section5 .contact .light_box:hover ~ .line {
  animation: line 2s 1 forwards;
}
.wrapper .sections .vertical .section5 .contact .light_box:hover ~ .line2 {
  animation-delay: 0.3s;
}
@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
.wrapper .sections .vertical .section5 .contact .light_box h2 {
  font-size: 4rem;
  cursor: pointer;
  width: 49%;
  transition: 1s;
}
.wrapper .sections .vertical .section5 .contact .light_box h2:hover ~ img {
  animation: bulb 2s ease infinite 2s;
}
@keyframes wave {
  100% {
    background-position-x: 50%;
    background-size: 20%;
    font-size: 4.1rem;
  }
}
.wrapper .sections .vertical .section5 .contact .light_box img {
  position: absolute;
  transition: 0.5s;
  cursor: pointer;
}
.wrapper .sections .vertical .section5 .contact .light_box img:first-of-type {
  width: 5%;
  top: -10%;
  left: 42%;
  opacity: 1;
}
.wrapper .sections .vertical .section5 .contact .light_box img:not(:first-of-type) {
  width: 0.5%;
  opacity: 1;
  height: 21.5px;
}
.wrapper .sections .vertical .section5 .contact .light_box img:nth-of-type(2) {
  top: -15%;
  left: 40%;
  transform: rotate(-20deg);
}
.wrapper .sections .vertical .section5 .contact .light_box img:nth-of-type(3) {
  top: -17%;
  left: 46%;
  transform: rotate(20deg);
}
.wrapper .sections .vertical .section5 .contact .light_box img:last-of-type {
  top: -10%;
  left: 50%;
  transform: rotate(60deg);
}
@keyframes bulb {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.wrapper .sections .vertical .section5 .contact .line {
  width: 40%;
  height: 4px;
  background: #fe6a6a;
  border-radius: 10px;
  position: absolute;
  top: 18%;
  left: 2%;
}
.wrapper .sections .vertical .section5 .contact .line2 {
  width: 42%;
  top: 20%;
  left: 0%;
}
.wrapper .sections .vertical .section5 .contact p {
  font-size: 2rem;
}
.wrapper .sections .vertical .section5 .contact .sns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.wrapper .sections .vertical .section5 .contact .sns > a {
  display: inline-block;
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #fe6a6a;
}
.wrapper .sections .vertical .section5 .contact .sns > a i {
  font-size: 2rem;
  width: 100%;
}
.wrapper .sections .vertical .section5 .contact .sns > a p {
  width: 100%;
}
.wrapper .sections .horizontal {
  width: 300%;
  height: 100%;
  display: flex;
  background: #e7dcc0;
}
.wrapper .sections .horizontal .section2 {
  background: #e7dcc0;
  overflow: hidden;
}
.wrapper .sections .horizontal .section2 > div {
  position: absolute;
  color: #ddd9d8;
  font-family: "Lilita One", sans-serif;
  box-shadow: 0px 0px 20px rgba(95, 95, 95, 0.2);
}
.wrapper .sections .horizontal .section2 > div:first-of-type, .wrapper .sections .horizontal .section2 > div:nth-of-type(3), .wrapper .sections .horizontal .section2 > div:last-of-type {
  background: #e7dcc0;
  top: -8%;
  border-bottom: 1px solid #333;
}
.wrapper .sections .horizontal .section2 > div:first-of-type {
  width: 20%;
  height: 81.1%;
  transform: perspective(300px) rotateY(20deg);
  left: 0;
}
.wrapper .sections .horizontal .section2 > div:nth-of-type(3) {
  width: 17%;
  height: 60.51%;
  transform: perspective(300px) rotateY(35deg);
  left: 47.3%;
}
.wrapper .sections .horizontal .section2 > div.info, .wrapper .sections .horizontal .section2 > div.skill {
  background: #333;
}
.wrapper .sections .horizontal .section2 > div.info {
  width: 28%;
  height: 66%;
  top: 0;
  left: 17.75%;
  padding: 40px 70px;
}
.wrapper .sections .horizontal .section2 > div.info .hidden_info {
  display: none;
}
.wrapper .sections .horizontal .section2 > div.info .visible_info {
  width: 100%;
  height: 100%;
  display: block;
}
.wrapper .sections .horizontal .section2 > div.info .visible_info img {
  width: 50%;
  padding-bottom: 20px;
}
.wrapper .sections .horizontal .section2 > div.info .visible_info h2 {
  font-size: 4rem;
  padding-bottom: 20px;
}
.wrapper .sections .horizontal .section2 > div.info .visible_info p {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  opacity: 0;
  font-family: "GOSEONGGEUMGANGNURI";
}
.wrapper .sections .horizontal .section2 > div.skill {
  width: 22%;
  height: 45.3%;
  top: 0;
  right: 16.9%;
  padding: 40px;
}
.wrapper .sections .horizontal .section2 > div.skill h2 {
  font-size: 2.5rem;
  padding-bottom: 30px;
}
.wrapper .sections .horizontal .section2 > div.skill .skill_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  opacity: 0;
  transition: 2s;
}
.wrapper .sections .horizontal .section2 > div.skill .skill_box > div {
  width: 30%;
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.wrapper .sections .horizontal .section2 > div.skill .skill_box > div i {
  font-size: 2rem;
  width: 100%;
}
.wrapper .sections .horizontal .section2 > div.skill .skill_box > div span {
  display: inline-block;
  width: 100%;
  font-size: 0.9rem;
  align-self: flex-end;
}
.wrapper .sections .horizontal .section2 > div.skill .skill_box > div img {
  width: 100%;
}
.wrapper .sections .horizontal .section2 > div.skill .skill_box > div:nth-of-type(5) img {
  width: 50%;
}
.wrapper .sections .horizontal .section2 > div.skill .skill_box > div:nth-of-type(8) img {
  width: 45%;
}
.wrapper .sections .horizontal .section2 > div.skill .skill_box > div:nth-of-type(9) img {
  width: 25%;
  border-radius: 3px;
}
.wrapper .sections .horizontal .section2 > div.skill .skill_box > div:nth-of-type(10) img {
  width: 26%;
}
.wrapper .sections .horizontal .section2 > div.skill .skill_box > div:nth-of-type(11) img {
  width: 25%;
}
.wrapper .sections .horizontal .section2 > div.skill .skill_box > div:last-of-type img {
  width: 40%;
}
.wrapper .sections .horizontal .section2 > div:last-of-type {
  width: 15%;
  height: 65.3%;
  right: 0;
  top: -7.7%;
  transform: perspective(300px) rotateY(-40deg);
  border-bottom: 1px solid #333;
}
.wrapper .sections .horizontal .section3 {
  perspective: 500px;
  font-family: "GOSEONGGEUMGANGNURI";
}
.wrapper .sections .horizontal .section3 .sun {
  width: 10%;
  position: absolute;
  bottom: 10%;
  transition: 0.5s;
  z-index: 500;
  display: block;
}
.wrapper .sections .horizontal .section3 > div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .sections .horizontal .section3 > div:first-of-type {
  width: 46.6%;
  height: 75.5%;
  background: #7b9d7c;
  top: -8%;
  left: 7.3%;
  border-bottom: 1px solid #333;
  transform: rotateY(10deg);
}
.wrapper .sections .horizontal .section3 > div:first-of-type .project:first-of-type {
  width: 40%;
  height: 65%;
  border: 1px solid #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.wrapper .sections .horizontal .section3 > div:first-of-type .project:first-of-type > div:first-of-type {
  width: 300px;
  height: 160px;
  overflow: hidden;
  border: 10px ridge #5f4d3a;
  cursor: pointer;
  position: relative;
}
.wrapper .sections .horizontal .section3 > div:first-of-type .project:first-of-type > div:first-of-type::after {
  content: "hover";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: 1s;
  color: #f9a42d;
  font-size: 1.3rem;
  padding: 50px 115px;
}
.wrapper .sections .horizontal .section3 > div:first-of-type .project:first-of-type > div:first-of-type img {
  width: 100%;
  transition: 5s;
}
.wrapper .sections .horizontal .section3 > div:first-of-type .project:first-of-type > div:first-of-type:hover::after {
  opacity: 0;
}
.wrapper .sections .horizontal .section3 > div:first-of-type .project:first-of-type > div:first-of-type:hover img {
  transform: translateY(-920px);
}
.wrapper .sections .horizontal .section3 > div:first-of-type .project:first-of-type > div:last-of-type {
  width: 50%;
  height: 40%;
  background: #fff;
  box-shadow: 5px 5px 10px #586d59;
}
.wrapper .sections .horizontal .section3 > div:first-of-type .project:last-of-type {
  width: 55%;
  height: 70%;
  border: 1px solid #333;
}
.wrapper .sections .horizontal .section3 > div:last-of-type {
  width: 55.2%;
  height: 70.2%;
  background: #75aca6;
  top: -7.2%;
  right: -7.6%;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  transform: rotateY(8deg);
}
.wrapper .sections .horizontal .section4 {
  overflow: hidden;
  perspective: 500px;
}
.wrapper .sections .horizontal .section4 > div {
  position: absolute;
}
.wrapper .sections .horizontal .section4 > div:first-of-type {
  width: 47.5%;
  height: 67.5%;
  background: #7b9d7c;
  top: -8%;
  left: 7.5%;
  border-bottom: 1px solid #333;
  transform: rotateY(10deg);
}
.wrapper .sections .horizontal .section4 > div:last-of-type {
  width: 54.2%;
  height: 64.5%;
  background: #75aca6;
  top: -7.5%;
  right: -7.4%;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  transform: rotateY(8deg);
}