@charset "utf-8";

$backCL: #02554b;
$subCL: #f9a42d;
$subCL2: #fe4818;
@mixin solid($width, $color){
    border: $width solid $color;
}

*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li,ol{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none; color: $subCL; }
