@charset "utf-8";
@import "reset";

//eng
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Archivo+Black&family=Black+Han+Sans&family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,400&family=Gasoek+One&family=Gowun+Batang&family=Grandiflora+One&family=Gugi&family=Hahmlet:wght@100&family=IBM+Plex+Sans+KR:wght@300&family=Lilita+One&family=Lobster&family=Nanum+Gothic:wght@700&family=Noto+Sans+KR:wght@400;500&family=Noto+Serif+KR:wght@200;900&family=Orbit&family=Paytone+One&family=Prompt:wght@500&family=Titan+One&display=swap');


//kr
@font-face {
    font-family: 'Minhye';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Minhye.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Se-hwa';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Se-hwa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Uiyeun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
//얇음
@font-face {
    font-family: 'Yuni_ddingddang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_11@1.0/Yuni_ddingddang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ddakdandan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_03@1.0/Ddakdandan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretty_Left_handed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_09@1.0/Pretty_Left_handed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SlowSlow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/SlowSlow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#wrap{width: 100%; height: 100vh; 
    // font-family: 'Agbalumo', sans-serif;
    // font-family: 'Lilita One', sans-serif;
    // font-family: 'Paytone One', sans-serif;
    // font-family: 'PartialSansKR-Regular';
    font-family: 'RixInooAriDuriR';
    // font-family: 'Titan One', sans-serif;
}
// .content{width: 1600px; height: 100%; margin: 0 auto;}
.section {background: $backCL; width: 100%; height: 100vh;}

.nav{width: 100%; height: 100px; display: flex; justify-content: space-between; position: fixed; top: 0; left: 0;
    align-items: center; padding: 0 50px; z-index: 1000; background: transparent;

    a{font-size: 2rem;
        font-family: 'Agbalumo', sans-serif;
        // font-family: 'Lilita One', sans-serif;
        // font-family: 'Paytone One', sans-serif;
        // font-family: 'PartialSansKR-Regular';
        // font-family: 'RixInooAriDuriR';
        // font-family: 'Titan One', sans-serif;        
    }
    .hamburger{width: 20px; height: 17px; position: relative; cursor: pointer;
        span{height: 2px; background: $subCL; display: block; position: absolute; transition: .5s;
            &:first-of-type{top: 0; right: 0; width: 60%; transition-delay: .1s;} 
            &:nth-of-type(2){top: 48%; right: 0; width: 80%;}
            &:last-of-type{bottom: 0; right: 0; width: 100%; }
        }
        &.hover span{
            &:first-of-type{width: 100%;} 
            &:nth-of-type(2){width: 100%;}
        }
        &.active span{
            &:first-of-type{transform: translateY(7.2px) rotate(45deg);} 
            &:nth-of-type(2){width: 0%;}
            &:last-of-type{transform: translateY(-7.2px) rotate(-45deg);}
        
        }
    }
}



.sec1 { color: $subCL;

    .content{width: 1600px; height: 100%; margin: 0 auto; padding: 130px 0 100px 0;
        display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;

        .main_txt{width: 70%; 
            p{font-size: 1rem; margin: 0px 0px -70px 10px; 
                font-family: 'PartialSansKR-Regular';
                // font-family: 'RixInooAriDuriR';
            }
            h1{color: $subCL2; font-size: 8.8rem; padding-bottom: 30px; font-family: 'Agbalumo', sans-serif;
                // filter: drop-shadow(3px 3px  $subCL);
                // text-shadow: 0px -2px 1px #f5d9af, 1px 1px 0 $subCL, 2px 2px 0 $subCL, 3px 3px 0 $subCL, 4px 4px 0 $subCL,
                // 5px 5px 0 $subCL, 6px 6px 0 $subCL, 7px 7px 0 $subCL, 8px 8px 0 $subCL,
                // 9px 9px 0 $subCL, 10px 10px 0 $subCL;
                // -webkit-text-stroke: 2px $subCL;
                // transform: rotate(90deg);
                &:first-of-type span{
                    position: relative;
                    top: 20px;
                    display: inline-block;                    
                    animation: bounce .5s ease 2 alternate forwards;
                    &:not(:first-child){margin-left: -20px;}
                    &:nth-child(2) { animation-delay: .1s; }
                    &:nth-child(3) { animation-delay: .2s; }
                    &:nth-child(4) { animation-delay: .3s; }
                    &:nth-child(5) { animation-delay: .4s; }
                    &:nth-child(6) {margin-left: 0px;}
                    &:nth-child(7) { animation-delay: .5s; }
                    &:nth-child(8) { animation-delay: .6s; }
                    &:nth-child(9) { animation-delay: .7s; }
                    &:nth-child(10) {margin-left: 0px;}
                    &:nth-child(11) { animation-delay: .8s; }
                    &:nth-child(12) { animation-delay: .9s; }
                    &:nth-child(13) { animation-delay: 1s; }
                    &:nth-child(14) { animation-delay: 1.2s; }
                    &:nth-child(15) { animation-delay: 1.3s; }
                    &:last-child { animation-delay: 1.4s; }
                }
                @keyframes bounce {
                    100% {
                      top: -20px;
                    }
                }
            }

            h2{font-size: 2.5rem; color: $subCL; margin-left: 10px;
                // font-family: 'Agbalumo', sans-serif;
                font-family: 'Lilita One', sans-serif;
                // font-family: 'Paytone One', sans-serif;
                // font-family: 'Titan One', sans-serif;
            }
        }

        .main_img{ width: 25%; height: 60%; position: relative; display: flex; flex-wrap: wrap;
            
            .rotate_stars{width: 210px; height: 210px; position: relative;
                img{width: 100%; position: absolute;
                    &.stars{ height: 100%; animation: rotate normal infinite 20s linear 2s; top: 0; left: 0;}
                    &:nth-of-type(2){width: 50%; top: 50%; left: 50%; transform: translate(-50%,-50%);}
                }
                @keyframes rotate{
                    to{transform: rotate(360deg);}
                }
            }   
            .cactus{width: 40%; height: 210px; position: absolute; bottom: 0%; right: 0%;

                div{ position: relative; width: 100%; height: 100%;
                    img{position: absolute;}
                    img:first-of-type{width: 70px; height: 30px; top: 0; right: 10%;}
                    img:nth-of-type(2){width: 50px; height: 20px; top: 0; left: 0%;}
                    img:nth-of-type(3){width: 60px; height: 30px; top: 10%; left: 20%;}
                    img:nth-of-type(4){width: 15px; height: 30px; top: 40%; right: 20%; animation: musical normal infinite 5s linear 2s; }
                    img:nth-of-type(5){width: 13px; height: 28px; top: 40%; left: 20%; animation: musical2 normal infinite 5.5s linear 2.5s; }
                    img:last-of-type{width: 60px; height: 125px; bottom: 0; left: 50px;}
                }
                @keyframes musical{
                    0%{transform: rotate(0deg);}
                    40%{transform: rotate(30deg);}
                    80%{transform: rotate(-30deg); width: 10px; height: 20px;  top: 20%; right: 10%; }
                    100%{transform: rotate(0deg);}
                }
                @keyframes musical2{
                    0%{transform: rotate(0deg);}
                    40%{transform: rotate(-30deg);}
                    80%{transform: rotate(30deg); width: 7px; height: 17px;  top: 25%; left: 10%; }
                    100%{transform: rotate(0deg);}
                }
            }
            
            // .city{width: 80%; @include solid(5px,$subCL); border-radius: 150px 100px;}
        }
             
    }

}



.container {overflow: hidden;
    .g_content{ display: flex; flex-wrap: nowrap; height: 100vh;
        .page{flex: 1 0 120%;}
        .page2 { background: $backCL; padding: 130px 370px 50px 120px; display: flex; justify-content: space-between;
        
            .s2_img{position: relative; width: 810px; font-family: 'Pretty_Left_handed';
                
                &>img{ position: absolute;
                    &:first-of-type{width: 100%; height: 540px; top: 0; left: 0; box-shadow: 0px 0px 10px rgba(36, 36, 36, 0.7);}
                    &:nth-of-type(2){width: 20%; right: 30px; top: 40px; display: none;}
                }
                               
                .introduce{position: absolute; top: 50px; left: 50px; width: 90%; 
                    display: flex; justify-content: flex-end; flex-wrap: wrap;
                    // font-family: 'Se-hwa';
                    font-family: 'GangwonEduSaeeum_OTFMediumA';
                    // font-family: 'Yuni_ddingddang';
                    // font-family: 'Ddakdandan';
                    .myImg{ width: 220px; height: 250px; background: #fff; display: flex; justify-content: center;
                        padding-top: 10px;
                        img{width: 200px; height: 200px;} 
                    }

                    .myInfo{width: 445px; height: 250px; margin-left: 50px;
                        .myInfo_hidden{display: none;}
                        p{font-weight: 600; font-size: 1.4rem; margin-bottom: 1rem; opacity: 0; transition: .7s;}
                        // .myInfo_visible p.on{animation: cursor .3s infinite; display: inline-block;}
                        // @keyframes cursor{
                        //     0%{border-right: 1px solid #fff} 
                        //     50%{border-right: 1px solid #000} 
                        //     100%{border-right: 1px solid #fff} 
                        // }
                    }

                    .myDream{width: 60%; height: 470px; position: relative; margin: 30px 50px 0px 100px;
                        &>img{
                            &:first-of-type{width: 437px; height: 458px; }
                            &:nth-of-type(2){width: 40%; position: absolute; bottom: 50px; right: 50px; transform: rotate(7deg);}
                        }
                        &>p{position: absolute; top: 110px; left: 60px; font-size: 1.2rem; line-height: 31px;
                            transform: rotate(3.5deg);
                        }

                        .post{width: 130px; height: 45px; position: absolute;
                            &:hover p{opacity: 1; transform: scale(1.1); }
                            &:hover img{transform: scale(1.1); }
                            img{width: 100%; transition: .3s; box-shadow: 5px 0px 0px rgba(36, 36, 36, 0.3);}
                            p{width: 100%; font-weight: 600; font-size: 1.2rem; margin: -37px 0 0 35px; opacity: 0.5; 
                                cursor: pointer; transition: .3s;
                            }
                        }
                        .postIt{top: 0px; right: -170px;}
                        .postIt2{top: 60px; right: -170px;}
                        .postIt3{top: 120px; right: -170px;}
                    }
                }
            }

            .my_project{width: 45%;
                    
                .go_pj{width: 80%;
                    .pj_ticket{width: 90%; height: 250px; display: flex;
                        &>div{width: 50%; height: 100%; background: #d5d5d5; overflow: hidden; border-radius: 20px; 
                            display: flex; flex-wrap: wrap; 
                            .orangeBox{width: 100%; background: $subCL2; height: 50px; align-self: flex-end;}

                            .left_ticket{padding: 20px;
                                img{width: 110px; height: 120px;}
                            }
                            .right_ticket{padding: 20px;
                                img{width: 110px; height: 80px;}
                            }
                            
                        }
                    }
                }
            }
            
            
        }
    
    
        
        .page3 { background: firebrick; }
        .page4 { background: cornflowerblue; }
        .page5 { background: seagreen; }
    }
}
