@charset "utf-8";
@import "reset";



.nav{width: 100%; height: 100px; display: flex; justify-content: space-between; position: fixed; top: 0; left: 0;
    align-items: center; padding: 0 50px; z-index: 15; background: transparent; @include agba();

    a{font-size: 2rem; color: $mainCL;}
    .hamburger{width: 20px; height: 17px; position: relative; cursor: pointer;
        span{height: 2px; background: $mainCL; display: block; position: absolute; transition: .5s;
            &:first-of-type{top: 0; right: 0; width: 60%; transition-delay: .1s;} 
            &:nth-of-type(2){top: 48%; right: 0; width: 80%;}
            &:last-of-type{bottom: 0; right: 0; width: 100%; }
        }
        &.hover span{
            &:first-of-type{width: 100%;} 
            &:nth-of-type(2){width: 100%;}
        }
        &.active span{
            &:first-of-type{transform: translateY(7.2px) rotate(45deg);} 
            &:nth-of-type(2){width: 0%;}
            &:last-of-type{transform: translateY(-7.2px) rotate(-45deg);}
        
        }
    }
}

.main{width: 100%; height: 100%; background: $backCL; position: relative; z-index: 5;

    .content{width: 1120px; height: 100%; margin: 0 auto; padding: 130px 0 0px 0; position: relative;

        .leaflet_wrap{width: 300px; height: 400px; position: absolute; top: 10%; left: 35%; transition: 1s; cursor: pointer;
            
            &:hover{transform: scale(1.3); }
                
            .leaflet{width: 100%; height: 100%; position: relative; perspective: 1000px;
            
                &:hover .front{transform: rotateY(-180deg); opacity: 0.8; box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
                    h2,img{opacity: 0;}
                }
                &:hover .back> .pj_ticket{transform: translateX(300px);}
                
                &>div{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 20px; 
                    &.front{background: $backCL2; padding: 30px; text-align: center;
                        @include solid(5px,$subCL);
                        // linear-gradient(#6d74bc 40%,#e86f64)
                        z-index: 1; transform-origin: left center; transition: 1s ease-in;
                        transform: rotateY(-15deg); box-shadow: 5px 5px 10px rgba(0,0,0,0.5), 10px 0px 0px $subCL;
                        // &:hover{transform: rotateY(-180deg);}
  
                        h2,img{transition: 1s;}
                        h2{font-size: 3rem; @include nserif(); color: $subCL; 
                            line-height: 70px;
                            span{color: $mainCL2;}
                        }
                        .heart{width: 30%; position: absolute; bottom: 10%; right: 25%;}
                        .planet{width: 15%; position: absolute; top: 23%; left: 7%; 
                            animation: planet 10s ease-out 2s 1 forwards, planet2 5s ease-in-out 13s infinite forwards;
                        }
                        @keyframes planet{
                            20%{top: 23%; left: 80%;}
                            40%{top: 60%; left: 7%;}
                            60%{left: 80%; top: 65%;}
                            80%{left: 7%; top: 70%;}
                            100%{rotate: 180deg; left: 25%; top: 70%;}
                        }
                        @keyframes planet2{
                            100%{transform: rotateY(360deg);}
                        }
                    }
                    &.back{background: $subCL; padding: 10px; box-shadow: 5px 5px 10px rgba(0,0,0,0.3);

                        &>div:not(.pj_ticket){width: 100%; height: calc(100% - 125px); border-radius: 10px 10px 0 0; 
                            margin-bottom: 5px; background: $backCL2; display: flex; flex-wrap: wrap; @include agba(); 

                            h3{background: $subCL; width: 60%; height: 90px; color: #333; border-radius: 8px 0 0 0; 
                                padding: 30px 0px 0 10px; border-bottom: 2px solid #333;
                                @include solid(2px,#333); border-right: none;
                            }
                            &>div{

                                &:first-of-type{width: 40%; height: 90px; background: #333; border-radius: 0 8px 0 0;
                                    .earth{width: 13%; position: absolute; top: 9.5%; right: 14%; transform: perspective(500px) rotateY(-15deg);
                                        transition: 1s;
                                    }
                                    .stars{width: 23%; animation: rotate normal infinite 20s linear 2s; transition: 1s; 
                                        position: absolute; top: 5%; right: 10%; transform: perspective(500px);
                                    }
                                    @keyframes rotate{
                                        to{transform: perspective(500px) rotate(360deg);}
                                    }   
                                }
                                &:last-of-type{width: 100%; height: calc(100% - 90px); padding: 20px 18px; color: #333;
                                line-height: 20px; @include gm; @include solid(2px,#333); border-top: none; }
                                  
                            }
                        }
                        &>p{width: 100%; height: 120px; background: #333; padding: 16px; border-radius: 0 0 10px 10px;
                        @include gm(); font-size: 0.75rem; line-height: 18px; color: $subCL; } 

                        .pj_ticket{width: 150px; height: 400px; transition: 1s; transform: rotate(-70deg) translateY(200px);
                            position: absolute; bottom: 0%; left: 12%; @include nserif(); color: $mainCL2;
                            animation: ticket 2s 12s 2 alternate;

                            @keyframes ticket{
                                50%{transform: rotate(-90deg) translateY(200px);}
                                100%{transform: rotate(-70deg) translateY(200px);}
                            }
                        
                            
                            &>div{ background: #ddd9d8; position: relative; transition: 1s;
    
                                &.top_ticket{width: 100%; height: 70%; padding: 20px; border-radius: 15px 0px 15px 15px;
                                    display: flex; justify-content: space-between; border-bottom: 1px dashed #aaa;

                                    img{width: 135px; height: 175px; border-radius: 10px;
                                        position: absolute; top: 3%; left: 5%;
                                    }                                  
                                    h3{ position: absolute; bottom: 18%; left: 5%;}
                                    h5{ position: absolute; bottom: 5%; left: 5%;
                                        span{font-size: 0.65rem;}
                                    }
                                }
                                &.bottom_ticket{width: 100%; height: 30%; position: relative; border-radius: 15px 15px 0px 15px;
                              
                                    h6{position: absolute; top: 10%; left: 5%;
                                        i{color: $backCL;}
                                    }
                                    p{font-size: 0.3rem; width: 91%; line-height: 8px; position: absolute; top: 25%; left: 5%;}
                                    img{width: 30%; position: absolute; right: 5%; bottom: 5%;}
                                }                                
                            }
                        }
                    }
                }
            }
        }

        .main_txt{width: 100%; position: absolute; bottom: 10%; left: 0; color: $mainCL;
            p{font-size: 1rem; margin: 0px 0px -50px 15px; 
                // font-family: 'PartialSansKR-Regular'; 
                @include parti();
            }
            h1{color: $mainCL2; font-size: 8.8rem; @include agba(); margin: 0;
                padding-bottom: 50px;
                &:first-of-type span{
                    position: relative;
                    top: 20px;
                    display: inline-block;                    
                    animation: bounce .5s ease 2 alternate forwards;
                    &:not(:first-child){margin-left: -20px;}
                    &:nth-child(2) { animation-delay: .1s; }
                    &:nth-child(3) { animation-delay: .2s; }
                    &:nth-child(4) { animation-delay: .3s; }
                    &:nth-child(5) { animation-delay: .4s; }
                    &:nth-child(6) {margin-left: 0px;}
                    &:nth-child(7) { animation-delay: .5s; }
                    &:nth-child(8) { animation-delay: .6s; }
                    &:nth-child(9) { animation-delay: .7s; }
                    &:nth-child(10) {margin-left: 0px;}
                    &:nth-child(11) { animation-delay: .8s; }
                    &:nth-child(12) { animation-delay: .9s; }
                    &:nth-child(13) { animation-delay: 1s; }
                    &:nth-child(14) { animation-delay: 1.2s; }
                    &:nth-child(15) { animation-delay: 1.3s; }
                    &:last-child { animation-delay: 1.4s; }
                }
                @keyframes bounce {
                    100% {
                      top: -20px;
                    }
                }
            }

            h2{font-size: 6rem; color: $mainCL; @include lilita();
                span{color: $mainCL2;}
                i{font-size: 3rem;}
            }
        }


        // .ambition{width: 100%; font-family: 'GangwonEduSaeeum_OTFMediumA'; font-size: 2rem; 
        //     position: absolute; bottom: 15%; left: 0; text-align: center; display: none;

        //     span{color: $subCL2;}
        // }
    }

}


.wrapper{ width: 100%; height: 100%; overflow: hidden;


    .sections{width: 100%; height: 106vh; 
        .section{height: 100%; width: calc(100%/3); position: relative;}
    

        .vertical{width: 300%; height: 100%; display: flex; justify-content: space-between; overflow: hidden;
        
            .section1 { background: $backCL;
            }



            .section5 { background: #e7dcc0; display: flex; justify-content: space-between; align-items: center;
                padding: 100px 0 0 100px;         
                                
                .light_box{width: 100%; height: 100%; @include lilita;
                    &:hover ~ .line{animation: line 2s 1 forwards;}
                    &:hover ~ .line2{animation-delay: .3s;}
                    @keyframes line{
                        0%{width: 0%;}
                        100%{width: 40%;}
                    }
                        
                    h2{ font-size: 3.5rem; cursor: pointer; transition: 1s;
                        &:hover ~ img{animation: bulb 2s ease infinite 2s;}    
                    }
                    img{position: absolute; transition: .5s; cursor: pointer;
                        &:first-of-type{width: 5%; top: -10%; left: 42%; opacity: 1; }
                        &:not(:first-of-type){width: 0.5%; opacity: 1; height: 21.5px;
                        }
                        &:nth-of-type(2){top: -15%; left: 40%; transform: rotate(-20deg);}
                        &:nth-of-type(3){top: -17%; left: 46%; transform: rotate(20deg);}
                        &:last-of-type{top: -10%; left: 50%; transform: rotate(60deg);}
                        @keyframes bulb{
                            0%{opacity: 1;}
                            50%{opacity: 0.5;}
                            100%{opacity: 1;}
                        }
                    }
                }
        
                .line{width: 27%; height: 4px; background: #ddd9d8; border-radius: 10px; 
                position: absolute; top: 0; left: 2%; }
                .line2{width: 30%; top: 36%; left: 0%;}
            }
        }


        .horizontal{width: 300%; height: 100%; display: flex; background: $backCL3;
        
            .section2 { overflow: hidden;

                &>div{position: absolute; @include lilita; 
                
                    &:first-of-type,&:last-of-type{background: #7b9d7c;} 
                    &:first-of-type{width: 479px; height: 511px; top: 0; left: 0; position: relative;
                        border-bottom: 1px solid #333; border-right: 1px solid #333;

                        img{
                            &:first-of-type{width: 37%; position: absolute; top: 270px; right: 40px;
                                @include solid(5px,#b3ceb3); border-radius: 50px;
                            }
                            &:last-of-type{ width: 45%; position: absolute; top: 100px; left: 40px; 
                                @include solid(5px,#b3ceb3); border-radius: 50px;
                            }
                        }
                    }
                    &:nth-of-type(2){background: #68918c; width: 150px; height: 585px; transform: perspective(500px) rotateY(-70deg);
                        left: 26.6rem; top: -2.3rem; border-bottom: 1px solid $subCL2;
                    }

                    &.info{background: #75aca6; width: 1200px; height: 597px; top: 0; right: 10.75rem;
                        display: flex; justify-content: space-between; padding: 40px 70px 0 100px;
                        @include solid(1px,$subCL2); border-top: none;

                        h2{color: $subCL2;}
                        p,a,i,span{color: #e7dcc0;}
                        
                        .hidden_info{display: none;}
                        .visible_info{width: 50%; height: 50%; display: block;          
                            img{width: 20%; padding-bottom: 20px;}                  
                            h2{font-size: 3.5rem; padding-bottom: 20px; }
                            p{font-weight: 600; font-size: 1rem; margin-bottom: 1rem; opacity: 0; @include gm;}
                        }

                        .skill{width: 45%; height: 75%; 
                            
                            h2{font-size: 3rem; padding-bottom: 30px;}
    
                            .skill_box{ width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; text-align: center; opacity: 0; transition: 2s;
    
                                &>div{width: 30%; font-size: 1.3rem; display: flex; flex-wrap: wrap; justify-content: center;
                                    margin-bottom: 20px;
                                    i{font-size: 2rem; width: 100%; }
                                    span{display: inline-block; width: 100%; font-size: 0.9rem; align-self: flex-end;}
                                    img{width: 100%;}
    
                                    &:nth-of-type(5){img{width: 50%;}}
                                    &:nth-of-type(8){img{width: 45%;}}
                                    &:nth-of-type(9){img{width: 25%; border-radius: 3px;}}
                                    &:nth-of-type(10){img{width: 26%;}}
                                    &:nth-of-type(11){img{width: 25%;}}
                                    &:last-of-type{img{width: 40%;}}
                                }
                            }
                        }
                        
                        .contact{width: 60%; height: 25%; position: absolute; bottom: 5rem; left: 100px;                       
                            h2{ font-size: 3.5rem; padding-bottom: 20px;}
                            p{font-size: 1.2rem;}
                        }                        
                    
                        .sns{width: 20%; height: 20%; display: flex; flex-wrap: wrap;
                            position: absolute; bottom: 20px; right: 50px;
                            &>p{width: 100%; font-size: 1.3rem;}
                            &>a{display: inline-block; width: 30%; margin-right: 40px; 
                                display: flex; flex-wrap: wrap; text-align: center; 
                                i{font-size: 2rem; width: 100%;}                            
                                p{width: 100%;}
                            }
                        }
                    }
                    
                    &:last-of-type{width: 200px; height: 700px; right: -2px; top: -3.3rem; 
                        transform: perspective(300px) rotateY(-30deg); border-bottom: 1px solid $subCL2;
                    }
                }
            } 


            //전체적용
            .project{display: flex; flex-wrap: wrap; 

                
                &>div{
                    //이미지
                    &:first-of-type:not(.node_txt){ @include lilita; overflow: hidden; cursor: pointer; position: relative;                                     
                        &::after{content: 'Hover'; display: inline-block; position: absolute; top: 0; left: 0; 
                            width: 100%; height: 100%; background: rgba(255, 255, 255, 0.3); transition: 1s; 
                            color: $mainCL;
                        }
                        &:hover::after{background: none; content: 'Click to see more';}
                        img{width: 100%; transition: 5s;}

                    }
                    //설명
                    &:last-of-type{ @include gm; background: #eee; border-top: 3px outset #ccc; padding: 15px;
                        border-left: 3px outset #ccc; position: relative; box-shadow: 5px 5px rgba(95, 95, 95, 0.2);

                        h5{ width: 100%; padding-bottom: 10px;}
                        h6{border-bottom: 2px solid #333; padding-bottom: 10px;}
                        p{position: absolute; 
                            &:first-of-type{ bottom: 30px; right: 15px; font-size: 0.5rem;}
                            &:last-of-type{ bottom: 15px; right: 15px; font-size: 0.6rem;}
                        }
                    }
                }
            }
            .section3 { perspective: 1000px;

                .sun{width: 10%; position: absolute; bottom: 10%; transition: .5s; z-index: 10; display: block;}

                &>div{position: absolute; display: flex; align-items: center;
                    min-width: 1933px; min-height: 763px; width: 101.6%; height: 75.5%; padding: 0 130px 0 80px;
                    background: #b3ceb3; top: -5.3rem; left: 9rem; transform: rotateY(10deg); justify-content: space-between;
                    border-bottom: 1px solid $subCL2; border-left: 1px solid $subCL2; border-right: 2px solid $subCL2;                        
                        
                    .project{
                        //project6
                        &:first-of-type{width: 450px; height: 85%; align-content: flex-end;                                
                            &>div{
                                &.seeMore{ width: 100%; height: 255px; margin-bottom: 20px; border: 10px ridge #53453a;

                                    &::after{ padding: 24% 43%; font-size: 1.3rem; }                                        
                                    &:hover::after{ padding: 24% 30%;}
                                    &:hover img{transform: translateY(-85.5%);}
                                }

                                &:last-of-type{ width: 170px; height: 125px; 
                                    h5{ font-size: 0.75rem;}
                                    h6{ font-size: 0.6rem;}
                                    p{
                                        &:first-of-type{ font-size: 0.45rem;}
                                        &:last-of-type{ font-size: 0.55rem;}
                                    }
                                }                               
                            }
                        }
                        //project5
                        &:nth-of-type(2){width: 500px; height: 60%; align-content: center;
                            &>div{
                                &.seeMore{ width: 100%; height: 260px; margin-bottom: 20px; 
                                    border: 10px ridge #53453a;

                                    &::after{ padding: 110px 220px; font-size: 1.4rem; }                                        
                                    &:hover::after{ padding: 110px 155px;}
                                    &:hover img{transform: translateY(-78.8%);}
                                }
                                
                                &:last-of-type{ width: 200px; height: 120px; }                                  
                            }
                        }
                        //team project
                        &:last-of-type{width: 550px; height: 85%; align-content: flex-end;
                            &>div{
                                &.seeMore{ width: 100%; height: 280px; margin-bottom: 20px; border: 10px ridge #53453a;

                                    &::after{ padding: 115px 240px; font-size: 1.7rem; z-index: 1;}                                        
                                    &:hover::after{ padding: 115px 170px;}
                                    &:hover > img{ 
                                        &:first-of-type{z-index: -1;}
                                        &:last-of-type{z-index: 0;}
                                    }
                                    img{position: absolute; top: 0; left: 0; transition: 1s;
                                        &:first-of-type{z-index: 0;}
                                        &:last-of-type{z-index: -1;}
                                    }
                                }
                                
                                &:last-of-type{ width: 220px; height: 130px; 
                                    h5{ font-size: 0.9rem;}
                                    h6{ font-size: 0.75rem;}
                                    p{
                                        &:first-of-type{ font-size: 0.55rem; bottom: 35px;}
                                        &:last-of-type{ font-size: 0.7rem;}
                                    }
                                }                             
                            }
                        }
                    }
                }
            }


            .section4 { overflow: hidden; perspective: 1000px;
                &>div{position: absolute; display: flex; align-items: center; justify-content: space-between;
                    min-width: 1932px; min-height: 763px; width: 101.5%; height: 75.5%;
                    background: $backCL2; top: -5.3rem; left: -10.85rem;
                    border-bottom: 1px solid $subCL2; transform: rotateY(-10deg); padding: 0 60px 0 100px;                        
                        
                    .project{
                        //project3
                        &:first-of-type{width: 470px; height: 60%; align-content: flex-start;                            
                            &>div{
                                &:first-of-type{ width: 100%; height: 245px; margin-bottom: 20px; 
                                    border: 10px ridge #53453a;

                                    &::after{ padding: 105px 195px; font-size: 1.5rem; }                                        
                                    &:hover::after{ padding: 105px 140px;}
                                    // &:hover img{transform: translateY(-640px);}
                                }
                                
                                &:last-of-type{ width: 220px; height: 130px; 
                                    h5{ font-size: 1rem;}
                                    h6{ font-size: 0.8rem;}
                                    p{
                                        &:first-of-type{ font-size: 0.55rem; bottom: 35px;}
                                        &:last-of-type{ font-size: 0.7rem;}
                                    }
                                }                                  
                            }
                        }

                        //project2
                        &:nth-of-type(2){width: 420px; height: 80%; align-content: flex-end;                            
                            &>div{
                                &:first-of-type{ width: 100%; height: 230px; margin-bottom: 20px; 
                                    border: 10px ridge #53453a;

                                    &::after{ padding: 90px 175px; font-size: 1.4rem; }                                        
                                    &:hover::after{ padding: 90px 125px;}
                                    &:hover img{transform: translateY(-67%);}
                                }
                                
                                &:last-of-type{ width: 200px; height: 120px; }                                  
                            }
                        }
                        //project1
                        &:nth-of-type(3){width: 370px; height: 50%; align-content: flex-start;                                
                            &>div{
                                &:first-of-type{ width: 100%; height: 185px; margin-bottom: 20px; border: 10px ridge #53453a;

                                    &::after{ padding: 70px 145px; font-size: 1.4rem; }                                        
                                    &:hover::after{ padding: 70px 100px;}
                                    &:hover img{transform: translateY(-80.5%);}
                                }
                                
                                &:last-of-type{ width: 190px; height: 120px; }                         
                            }
                        }
                        //node
                        &:last-of-type{width: 330px; height: 65%; align-content: flex-end;
                                
                            &>a{ display: block; width: 100%; height: 187px; margin-bottom: 20px; border: 10px ridge #53453a; 
                                overflow: hidden; cursor: pointer; position: relative; @include lilita;      

                                &::after{content: 'Hover'; display: inline-block; position: absolute; top: 0; left: 0; 
                                    width: 100%; height: 100%; background: rgba(255, 255, 255, 0.3); transition: 1s; 
                                    color: $mainCL; padding: 75px 130px; font-size: 1.2rem;
                                }
                                &:hover::after{background: none; padding: 75px 100px; content: 'click to video';}
                                video{width: 100%; display: block;}
                            }
                            &>div{width: 170px; height: 110px; 
                                h5{ font-size: 0.8rem;}
                                h6{ font-size: 0.6rem;}
                                p{
                                    &:first-of-type{ font-size: 0.45rem; bottom: 15px;}
                                }
                            }

                        }
                    }  
                }
            }
        }
    }
}
            


// project popup
.pj_infoWrap{position: fixed; top: 0; left: 0; width: 100%; height: 0;
    z-index: 20; transition: 1s; @include gm; transition: 1s;
        
    .pj_box{ @include solid(2px,$subCL2); width: 700px; height: 800px; position: absolute; top: 50%; left: 50%;
        transform: translate(-50%,-50%); color: $subCL2; visibility: hidden;
        display: flex; flex-wrap: wrap; align-content: center; justify-content: center;

        h2{font-size: 4rem; @include rix; width: 80%;}   
        h3{padding-bottom: 10px; width: 80%;}     
        img{ width: 80%; padding-bottom: 20px;}
        p{line-height: 1.5rem; width: 80%;
            &:last-of-type{padding-bottom: 20px;}
        }
        input[type=button]{position: absolute; bottom: 50px; right: 50px; background: transparent; cursor: pointer;
            @include solid(2px,#5f4b00); color: #5f4b00; padding: 7px 7px 2px; @include gm; transition: .5s;

            &:hover{opacity: 0.5;}
        }
        
        &>div{
            &:first-of-type{ width: 80%; display: flex; padding-bottom: 50px;
                span{display: inline-block; @include solid(2px, #5f4b00); padding: 7px 7px 5px; margin-right: 20px;}
            }
            &:last-of-type{ width: 80%; height: 50px;
                a{ position: relative; color: $subCL2;
                    &:first-of-type{
                        &::after{content: 'View site';}   
                        i{
                            &:first-of-type{font-size: 2.3rem;}
                            &:last-of-type{font-size: 2rem; left: 30px; top: 15px;}
                        }
                    }
                    &:last-of-type{ left: 100px;
                        &::after{content: 'View document';}
                    }
                    &::after{transition: .5s; opacity: 0; position: absolute; top: 0px; left: 0;}

                    i{font-size: 3rem; position: absolute; top: 0; left: 0; }

                    &:hover i{opacity: 0;}                 
                    &:hover::after{opacity: 1;}  
                }
            }
        }
    }
}
